<div class="container-fluid content_dashboard">
  <br />
  <%= link_to "Add seeker", new_admin_seeker_path, class: "btn btn-primary" %>
  <br />
  <br />
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Postal</th>
        <th>Status</th>
        <th>Manage</th>
        <th>Total Applications</th>
        <th>Job Views</th>
        <th>Sign Up</th>
        <th>Updated</th>
        <th>seek ID #</th>
        <th>User ID #</th>
      </tr>

       <% @seekers.each do |seek| 
           user = User.where(id: seek.user_id).first %>
      <tr>
        <td><%= link_to user.firstName, admin_seeker_path(seek) %></td>
        <td><%= seek.postalCode  %></td>
        <td class="active_link"><%= link_to seek.status.capitalize,   activate_admin_seeker_path(seek), data: {confirm: "Are you sure you want to change the status for  #{seek.id}?"} %> </td>
        <td>(<%= link_to "edit", edit_admin_seeker_path(seek) %>, <%= link_to "delete", admin_seeker_path(seek), method: :delete, data: {confirm: "Are you sure you want to delete #{seek.id}?"} %>)</td>
        <% 
           apps = Application.where(seeker_id: seek.id)%>
        <td><%= apps.count %> (<%= link_to "view",applications_admin_seeker_path(seek)%>)</td>
        <td><%= Impression.where(user_id: user.id).count %> (<%= link_to "see jobs",job_views_admin_seeker_path(seek)%>) </td>
        <td><%= seek.created_at.strftime("%b %d, %Y")  %></td>
        <td><%= seek.updated_at.strftime("%b %d, %Y")  %></td>
        <td><%= seek.id%></td>
        <td><%= seek.user_id%></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div style="clear: both">
                <%= paginate @seekers %>
                <%= page_entries_info @seekers %>
            </div>
            <hr>
</div>

<script>
  $( function() {
    $('.active_link a').each(function() {
      test = $(this);
      if (test.html() == "Active"){
        test.css("color","green");
      } else {
        test.css("color","red");
      }
    });
  });
</script>