<div class="container-fluid content_dashboard">
  <br />
  <%= link_to "Add seeker", new_admin_seeker_path, class: "btn btn-primary", style: "width:auto;float: left"  %>
   <%= link_to "Remove ace.co", admin_seekers_path(:fakes => "ace.co"), class: "btn btn-primary", style: "width:auto;float: left;margin-left: 20px"  %>
  <div style="float: left; margin-left: 50px;">
      <%= form_tag admin_seekers_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Seekers", class: "form-control", style: "width:auto;float: left" %>
      <%= submit_tag "Search", class: "form-control", style: "width:auto;float: left" %>
      <% end %>
  </div>
  <br />
  <br />
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th><%= sort_link "username" %></th>
        <th>Postal</th>
        <th><%= sort_link "status" %></th>     
        <th>Manage</th>
        <th><%= sort_link "applications", "Applications" %></th>
        <th><%= sort_link "visits", "No. Visits" %></th>
        <th>Job Views</th>
        <th><%= sort_link "last_seen", "Last Seen" %></th>
        <th><%= sort_link "logged_in", "Logged In" %></th>
        <th><%= sort_link "created_at", "Sign Up" %></th>
        <th><%= sort_link "updated_at", "Updated" %></th>
        <th><%= sort_link "id", "seek ID #" %></th>
        <th><%= sort_link "user_id", "User ID #" %></th>
      </tr>

       <% @seekers.each do |seek| 
           user = User.where(id: seek.user_id).first %>
      <tr>
        <td><%= link_to user.username, admin_seeker_path(seek) %></td>
        <td><%= seek.postalCode  %></td>
        <td class="active_link"><%= link_to seek.status.capitalize,   activate_admin_seeker_path(seek), data: {confirm: "Are you sure you want to change the status for  #{seek.id}?"} %> </td>
        <td>(<%= link_to "edit", edit_admin_seeker_path(seek) %>, <%= link_to "delete", admin_seeker_path(seek), method: :delete, data: {confirm: "Are you sure you want to delete #{seek.id}?"} %>)</td>
        <% 
           apps = Application.where(seeker_id: seek.id)%>
        <td><%= apps.count %> (<%= link_to "view",applications_admin_seeker_path(seek)%>)</td>
        <td><%= user.visits %></td>
        <td><%= Impression.where(user_id: user.id).count %> (<%= link_to "see jobs",job_views_admin_seeker_path(seek)%>) </td>
        <td><%= user.last_seen ? user.last_seen.strftime("%b %d, %Y") : "not logged"  %></td>
        <td><%= user.logged_in  %></td>
        <td><%= seek.created_at.strftime("%b %d, %Y")  %></td>
        <td><%= seek.updated_at.strftime("%b %d, %Y")  %></td>
        <td><%= seek.id%></td>
        <td><%= seek.user_id%></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div style="clear: both">
                <%= paginate @seekers %>
                <%= page_entries_info @seekers %>
            </div>
            <hr>
</div>

<script>
  $( function() {
    $('.active_link a').each(function() {
      test = $(this);
      if (test.html() == "Active"){
        test.css("color","green");
      } else {
        test.css("color","red");
      }
    });
  });
</script>