<div class="container">
    <div class="intro"></div>
</div>
      <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <%= form_for @message  ,   :html => { :class => "article-form" } do |f| %>
                <h2 class="text-center"><strong>Send us a message!</strong></h2>
                <div class="form-group">
                  <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
                </div>
                <div class="form-group">
                <%= f.text_area :body,  placeholder: "Message", style: "height:300px", class: 'form-control' %>
                </div>
                <div >
                <%= f.submit 'Send', class: 'btn btn-primary btn-block' %>
                </div>  
            <% end %>       
        </div>
    </div>
    <div class="features-clean"></div>
    <div></div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>