<div style="float: left">
<%= link_to image_tag('https://static.wixstatic.com/media/73136b_9e09eba4dbef451594d6ca45761e5512~mv2.png/v1/fill/w_234,h_325,al_c,usm_0.66_1.00_0.01/73136b_9e09eba4dbef451594d6ca45761e5512~mv2.png'), new_user_path(role: 'Seeker')  %><h2>I'm a job hunter (looking)</h2>
</div>
<div style="float: left">
<%= link_to image_tag('https://static.wixstatic.com/media/73136b_1fb5677141634b869c62be74b9720864~mv2.png/v1/fill/w_325,h_325,al_c,usm_0.66_1.00_0.01/73136b_1fb5677141634b869c62be74b9720864~mv2.png'), new_user_path(role: 'Employer')  %><h2>I'm a job seeker (employer)</h2>
</div>
<div style="clear: both;">
	<h1>Log In</h1>
	<%= form_tag sessions_path do %>
	  <div>
	    <%= label_tag :email %><br/>
	    <%= text_field_tag :email %>
	  </div>
	  <div>
	    <%= label_tag :password %><br/>
	    <%= password_field_tag :password %>
	  </div>
	  <div><%= submit_tag "Log In" %></div>
	<% end %>
</div>
