
    <div class="register-photo">
      <div class="form-container">
         <%= form_for @seeker, :html => {:class => 'profile_form'} do |f| %>
          <i class="material-icons">person_pin_circle</i>
          <div class="editor">
               <h1>Profile Editor</h1> <!--***Changed wording here -->
          </div>
          <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-home"></i>
              Location
            </h2>
          </div>
          <div>
            <%= f.label :postalCode, "Postal Code" %><br>
            <%= f.text_field :postalCode, class: "form-control" %>
            <p>(this will be used only to aid the matching process)</p>
            <p class='error'><%= show_errors(@seeker, :postalCode) %></p>
          </div>
          <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-education"></i>
              Education + Certifications
            </h2>
          </div>
          <div>
            <%= f.label :educationLevel, "Education Level" %><br>
            <%= f.select :educationLevel, ['High School', 'Some Postsecondary Experience', 'Bachelors', 'Masters', 'PhD'], {}, { class: "form form-group form-control" } %>
          </div>
          <hr>
          <div>
            <%= f.label :certifications, "Certifications (Hold CTRL to select multiple)" %><br>
            <%= f.select :certifications, ['VSA', 'CFA (level 1)', 'CFA (level 2)', 'CFA (level 3)', 'CSC', 'CIP', 'LLQP', 'CAIB', 'Insurance Broker (level 1)', 'Insurance Broker (level 2)', 'Insurance Broker (level 3)'], {prompt: "Select Certifications"},{:multiple => true, class: "form-control multi-select"}%>
          </div>
          <div class="row">
            <div class="ck-button">
              <%= f.label :driversLicence, "Class 5 Drivers License?" %><br>
              <%= f.check_box :driversLicence %>
            </div>
            <div class="ck-button">
              <%= f.label :hasVehicle, "Access to own vehicle?" %><br>
              <%= f.check_box :hasVehicle %>
            </div>
          </div>

          <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-briefcase"></i>
                Sales Experience
            </h2>
          </div>  
          <div class="row">
            <div >
              <%= f.label :inSales, "Inside Sales", class: "seekerSliders"  %><br>
              <div id="inSales_slider" class="slider">
                <div id="inSales_handle" class="ui-slider-handle"></div>
              </div>
              <p class='error'><%= show_errors(@seeker, :inSales) %></p>
              <%= f.hidden_field :inSales %>
              <div class="row"> 
                <div class="ck-button">
                  <%= f.label :inboundSales %><br>
                  <%= f.check_box :inboundSales %>
                </div>
                <div class="ck-button">
                  <%= f.label :outboundSales %><br>
                  <%= f.check_box :outboundSales %>
                </div>
              </div>
            </div>
            <div>
              <%= f.label :outSales, "Outside Sales", class: "seekerSliders" %><br>
              <div id="outSales_slider" class="slider">
                <div id="outSales_handle" class="ui-slider-handle"></div>
              </div>
              <p class='error'><%= show_errors(@seeker, :outSales) %></p>
              <%= f.hidden_field :outSales %>
            </div>
           
          </div>
            <div class="editor">
              <h2>
                <i class="glyphicon glyphicon-list-alt"></i>
                Sales Skills
              </h2>
            </div>
          <div class="row">
            <div class="ck-button">
              <%= f.label :coldCall, "Cold Calling" %><br>
              <%= f.check_box :coldCall %>
            </div>
            <div class="ck-button">
              <%= f.label :doorToDoor, "Door to Door" %><br>
              <%= f.check_box :doorToDoor %>
            </div>
            <div class="ck-button">
              <%= f.label :custService, "Customer Service" %><br>
              <%= f.check_box :custService %>
            </div>
            <div class="ck-button">
              <%= f.label :acctManagment, "Account Management" %><br>
              <%= f.check_box :acctManagment %>
            </div>
            <div class="ck-button">
              <%= f.label :negotiation %><br>
              <%= f.check_box :negotiation %>
            </div>
            <div class="ck-button">
              <%= f.label :presenting %><br>
              <%= f.check_box :presenting %>
            </div>
            <div class="ck-button">
              <%= f.label :leadership, "Managed a Team" %><br>
              <%= f.check_box :leadership %>
            </div>
            <div class="ck-button">
              <%= f.label :closing %><br>
              <%= f.check_box :closing %>
            </div>
            <div class="ck-button">
              <%= f.label :hunterBased, "Hunter-based" %><br>
              <%= f.check_box :hunterBased %>
            </div>
            <div class="ck-button">
              <%= f.label :farmerBased, "Farmer Based" %><br>
              <%= f.check_box :farmerBased %>
            </div>
            <div class="ck-button">
              <%= f.label :commBased, "Commission Based" %><br>
              <%= f.check_box :commBased %>
            </div>
          </div>
          <hr>
          <div class="editor">
            <h2>
                <i class="glyphicon glyphicon-comment"></i> 
                Fluent Languages</h2> 
          </div>
          <div>
            <%= f.label :languages, "Hold CTRL to select multiple" %><br>
            <%= f.select :languages, [ ["English", "English"], ["French", "French"], ["Korean", "Korean"], ["Mandarin", "Mandarin"], ["Punjabi", "Punjabi"], ["Spanish", "Spanish"], ["Arabic", "Arabic"], ["Cantonese", "Cantonese"]], {prompt: "Select Languages"},{:multiple => true, class: "form-control multi-select"} %>
              <p class='error'><%= show_errors(@seeker, :languages) %></p>
          </div>

           <br>
          <div><%= f.submit "Submit", class: "btn btn-primary btn-block" %></div>
        <% end %>
      </div> 
   </div> 
</div>


 <script>
  $( function() {
      var handle = $( "#inSales_handle" );
      var inboundCheck = $('#seeker_inboundSales')
      var outboundCheck = $('#seeker_outboundSales')
      inboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
      outboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
      
      $("#seeker_inSales").val(0);
      $("#seeker_outSales").val(0);

      $( "#inSales_slider" ).slider({
        create: function() {
          handle.text( $( this ).slider( "value" ) );
        },
            min: 0,
            max: 10,
            value: 0,
            step: 0.5,
        slide: function( event, ui ) {
          handle.text( ui.value );
          $("#seeker_inSales").val(ui.value);
          console.log(ui.value);
          if(ui.value > 0){
            inboundCheck.prop("disabled", false).parent().removeClass("disabled-button_bg");
            outboundCheck.prop("disabled", false).parent().removeClass("disabled-button_bg");
         } else {
            inboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
            outboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
          };
        }
      });

      var handle2 = $( "#outSales_handle" );
      $( "#outSales_slider" ).slider({
        create: function() {
          handle2.text( $( this ).slider( "value" ) );
        },
            min: 0,
            max: 10,
            value: 0,
            step: 0.5,
        slide: function( event, ui ) {
          handle2.text( ui.value );
          $("#seeker_outSales").val(ui.value);
          console.log(ui.value);
        }
      });
      var checkbox = $(".ck-button :checkbox");
      var ckbutton = $(".ck-button");

      checkbox.each(function() {
          if ($(this).is(":checked")) {
            $(this).parent().addClass("ck-button_bg");
          }
      });

      var driversLicence = $('#seeker_driversLicence').closest("div").find("[type='checkbox']")
      if (driversLicence.is(":checked")) {
        $('#seeker_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg"); 
      } else if (driversLicence.not(":checked")) {
        $('#seeker_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
      }


      ckbutton.on('tap',function(){
        console.log("tapped");
        var childCheck = $(this).find("[type='checkbox']")
        if (childCheck.is(":checked")) {
          childCheck.prop('checked', false);
          $(this).removeClass("ck-button_bg");  
          if (childCheck.prop('id') == "seeker_driversLicence") {
            $('#seeker_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
          }
           
        }else{
          childCheck.prop('checked', true);
          $(this).addClass("ck-button_bg");
          if (childCheck.prop('id') == "seeker_driversLicence") {
            $('#seeker_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg");
          }
          
        }
        });
         
    } );
 </script>