
    <div class="register-photo" style="background: #f8f8f8;">
      <div class="form-container" style="padding: 0;">
         <%= form_for @seeker, :html => {:class => 'profile_form'} do |f| %>
          <div class="job_header_img">
          <%= image_tag "JH_form/ProfileEditor.png" %>
        </div>
          <div class="editor">
               <h1>Profile Editor</h1> <!--***Changed wording here -->
          </div>
          <div class="editor">
            <h2>
              <%= image_tag "JH_form/Location.png" %>
              Location
            </h2>
          </div>
          <div>
            <%= f.label :postalCode, "Postal Code" %><br>
            <%= 
              if f.object.postalCode
                f.text_field :postalCode, :value => f.object.postalCode.upcase, class: "form-control" 
              else
                 f.text_field :postalCode, placeholder: "Postal Code", class: "form-control" 
              end
            %>
            <p>(this will be used to aid the matching process)</p>
            <p class='error'><%= show_errors(@seeker, :postalCode) %></p>
          </div>
   

        <div class="editor">
            <h2>
              <%= image_tag "JH_form/EducationCertifications.png" %>
              Education + Certifications
            </h2>
          </div>
        <div>
            <%= f.label :educationLevel, "Education Level" %><br>
            <%= f.select :educationLevel, [['High School', 1], ['Some Post-Secondary Experience', 2],[ "Diploma", 3], ["Bachelor's", 4], ["Master's", 5]], {}, { class: "form form-group form-control" } %>
          </div>
          <hr>
          <div>
            <%= f.label :certifications, "Certifications" %><br>
            <%= f.select :certifications, ['VSA', 'CFA (level 1)', 'CFA (level 2)', 'CFA (level 3)', 'CSC', 'CIP', 'LLQP', 'CAIB', 'Insurance Broker (level 1)', 'Insurance Broker (level 2)', 'Insurance Broker (level 3)'], {prompt: "Select Certifications"},{:multiple => true, class: "form-control multi-select"}%>
          </div>
          <div class="row">
            <div class="ck-button">
              <%= f.label :driversLicence, "Driver's License" %><br>
              <%= f.check_box :driversLicence %>
            </div>
            <div class="ck-button">
              <%= f.label :hasVehicle, "Access to own vehicle" %><br>
              <%= f.check_box :hasVehicle %>
            </div>
          </div>

          <div class="editor">
            <h2>
               <%= image_tag "JH_form/Experience.png" %>
                Sales Experience
            </h2>
          </div>  
          <div class="row">
            <div >
               <%= f.label :inSales, "Inside Sales (years)"%>
               <span data-tooltip= "This is any sales role that is carried out at the employer’s place of business. If customers are coming into your store, if you are closing sales over the phone, or if you are selling over email or the internet, you are doing Inside Sales."}><%= image_tag "tooltip.svg", class: "info-tip" %></span>
             


                <br>
              <div id="inSales_slider" class="slider">
                <div id="inSales_handle" class="ui-slider-handle"></div>
              </div>
              <p class='error'><%= show_errors(@seeker, :inSales) %></p>
              <%= f.hidden_field :inSales %>
              <div class="row"> 
                <div class="ck-button">
                  <%= f.label :inboundSales, "Inbound Sales" %><br>
                  <%= f.check_box :inboundSales %>
                </div>
                <div class="ck-button">
                  <%= f.label :outboundSales, "Outbound Sales" %><br>
                  <%= f.check_box :outboundSales %>
                </div>
              </div>
            </div>
            <div>
              <%= f.label :outSales, "Outside Sales (years)" %>
              <span data-tooltip= "This is any sales role that is carried out at the client’s place of business. If you are prospecting for new clients, or receiving warm leads and closing those deals in an environment other than your own office, you are doing Outside Sales."}><%= image_tag "tooltip.svg", class: "info-tip" %></span>

              <br>
              <div id="outSales_slider" class="slider">
                <div id="outSales_handle" class="ui-slider-handle"></div>
              </div>
              <p class='error'><%= show_errors(@seeker, :outSales) %></p>
              <%= f.hidden_field :outSales %>
            </div>
            <div class="ck-button">
              <%= f.label :B2B, "B2B", data: {tooltip: "Business-to-Business." } %><br>
              <%= f.check_box :B2B %>
            </div>
        <div class="ck-button">
          <%= f.label :B2C, "B2C", data: {tooltip: "Business-to-Consumer." } %><br>
          <%= f.check_box :B2C %>
        </div>
           
          </div>
            <div class="editor">
              <h2>
                <%= image_tag "JH_form/Skills.png" %>
                Sales Skills
              </h2>
            </div>
          <div class="row">
            <div class="ck-button">
              <%= f.label :coldCall, "Cold Calling" %><br>
              <%= f.check_box :coldCall %>
            </div>
            <div class="ck-button">
              <%= f.label :doorToDoor, "Door to Door" %><br>
              <%= f.check_box :doorToDoor %>
            </div>
            <div class="ck-button">
              <%= f.label :custService, "Customer Service" %><br>
              <%= f.check_box :custService %>
            </div>
            <div class="ck-button">
              <%= f.label :acctManagment, "Account Management" %><br>
              <%= f.check_box :acctManagment %>
            </div>
            <div class="ck-button">
              <%= f.label :negotiation %><br>
              <%= f.check_box :negotiation %>
            </div>
            <div class="ck-button">
              <%= f.label :presenting %><br>
              <%= f.check_box :presenting %>
            </div>
            <div class="ck-button">
              <%= f.label :leadership, "Leading a Team" %><br>
              <%= f.check_box :leadership %>
            </div>
            <div class="ck-button">
              <%= f.label :closing %><br>
              <%= f.check_box :closing %>
            </div>
        
            <div class="ck-button">
              <%= f.label :commBased, "Commission-Based Sales"  %><br>
              <%= f.check_box :commBased %>
            </div>
          </div>
          <hr>
          <div class="editor">
            <h2>
                <%= image_tag "JH_form/Languages.png" %>
                Proficient Languages</h2> 
          </div>
          <div>
            
            <%= f.select :languages, [ ["English", "English"], ["French", "French"], ["Korean", "Korean"], ["Mandarin", "Mandarin"], ["Punjabi", "Punjabi"], ["Spanish", "Spanish"], ["Arabic", "Arabic"], ["Cantonese", "Cantonese"]], {},{:multiple => true, class: "form-control multi-select"} %>
              <p class='error'><%= show_errors(@seeker, :languages) %></p>
          </div>

           <br>
          <div><%= f.submit "Start Hunting", class: "btn btn-primary btn-block", id: "seeker_submit_button" %></div>
        <% end %>
      </div> 
   </div> 
</div>


 <script>
  $( function() {
      var handle = $( "#inSales_handle" );
      var handle2 = $( "#outSales_handle" );
      var inboundCheck = $('#seeker_inboundSales')
      var outboundCheck = $('#seeker_outboundSales')
      var custService = $('#seeker_custService')
      inboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
      outboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");

      var inSales = "<%= @seeker.inSales %>";
      var outSales = "<%= @seeker.outSales %>";

      var inSales_start = (inSales ? inSales : 0);
      var outSales_start = (outSales ? outSales : 0);
      handle.value = inSales;
      handle2.value = outSales;
      $("#seeker_inSales").val(inSales_start);
      $("#seeker_outSales").val(outSales_start);

      function in_out_disable(value) {
          if(value > 0){
              inboundCheck.prop("disabled", false).parent().removeClass("disabled-button_bg");
              outboundCheck.prop("disabled", false).parent().removeClass("disabled-button_bg");
           } else {
              inboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
              outboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
            }
      };
      function custServiceCheck() {
          if( inSales > 0 || outSales > 0){
              custService.parent().find("[type='checkbox']").prop('checked', true);
              custService.parent().addClass("ck-button_bg");
              // custService.prop("disabled", true)
              custService.prop('onclick', 'return false');
              console.log("custService checked")
              test = custService.parent().find("[type='checkbox']").is(":checked")
              console.log(test)
           } else {
              custService.parent().find("[type='checkbox']").prop('checked', false);
              custService.parent().removeClass("ck-button_bg");
              // custService.prop("disabled", false);
              custService.prop('onclick', '');

              console.log("custService un-checked")
              test = custService.parent().find("[type='checkbox']").is(":checked")
              console.log(test)
            }
      };
      
      in_out_disable(inSales);
      custServiceCheck();
      // $("#seeker_inSales").val(0);
      // $("#seeker_outSales").val(0);

      $( "#inSales_slider" ).slider({
        create: function() {
          handle.text( $( this ).slider( "value" ) );
        },
            min: 0,
            max: 10,
            value: inSales_start,
            step: 0.5,
        slide: function( event, ui ) {
          handle.text( ui.value );
          $("#seeker_inSales").val(ui.value);
          console.log(ui.value);
          inSales = ui.value
         //  if(ui.value > 0){
         //    inboundCheck.prop("disabled", false).parent().removeClass("disabled-button_bg");
         //    outboundCheck.prop("disabled", false).parent().removeClass("disabled-button_bg");
         // } else {
         //    inboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
         //    outboundCheck.prop("disabled", true).parent().addClass("disabled-button_bg");
         //  };
         in_out_disable(ui.value);
         custServiceCheck();
        }
      });

      
      $( "#outSales_slider" ).slider({
        create: function() {
          handle2.text( $( this ).slider( "value" ) );
        },
            min: 0,
            max: 10,
            value: outSales_start,
            step: 0.5,
        slide: function( event, ui ) {
          handle2.text( ui.value );
          $("#seeker_outSales").val(ui.value);
          console.log(ui.value);
          outSales = ui.value
          custServiceCheck();
        }
      });
      var checkbox = $(".ck-button :checkbox");
      var ckbutton = $(".ck-button");

      checkbox.each(function() {
          if ($(this).is(":checked")) {
            $(this).parent().addClass("ck-button_bg");
          }
      });

      var driversLicence = $('#seeker_driversLicence').closest("div").find("[type='checkbox']")
      if (driversLicence.is(":checked")) {
        $('#seeker_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg"); 
      } else if (driversLicence.not(":checked")) {
        $('#seeker_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
      }


      ckbutton.on('click',function(){
        var test = $(this).find("[type='checkbox']").prop('checked');
        var test2 = $(this).find("[type='checkbox']").prop('disabled');
        console.log("tapped " + test + "     status "+ test2);
        var childCheck = $(this).find("[type='checkbox']")
        if (test2 == false) {
              if (childCheck.is(":checked")) {
                childCheck.prop('checked', false);
                $(this).removeClass("ck-button_bg");  
                if (childCheck.prop('id') == "seeker_driversLicence") {
                  $('#seeker_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
                }
                 
              }else{
                childCheck.prop('checked', true);
                $(this).addClass("ck-button_bg");
                if (childCheck.prop('id') == "seeker_driversLicence") {
                  $('#seeker_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg");
                }
                
              }
        }
        });
      $('#seeker_languages').find("option[value='English']").prop('selected', true);
      $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', $(this).prop('selected') ? false : true);
        var test = $(this).val();
        var test2 = $(this).prop('selected');
        console.log(test + test2);
        var test3 = $(this).parent().find('select');
        // test3.multiselect("refresh"); 
        console.log(test3);
        return false;
      });
         
    } );
 </script>