 <% user = User.where(id: @seeker.user_id).first %>
<div class="dash_header">
	<%= image_tag "up_logotrans.png", class: "dash_header_logo" %>
	<ol class="breadcrumb dash_breadcrumb" id="dash_breadcrumb">
		<li><%= link_to "Current Jobs", seeker_path(@seeker) %></li>
		<li><%= link_to "Applied Jobs", applied_seeker_path(@seeker) %></li>
		<li><%= link_to "My Resumes", seeker_resumes_path(@seeker) if @seeker.resumes.first%></li>
		<li><%= link_to "Saved Jobs", saved_jobs_seeker_path(@seeker) %></li>
		<li><%= link_to "Edit Profile", edit_seeker_path(@seeker) %></li>
	</ol>
</div>

<script>
  $( function() {
   
    var url = location.pathname.substring(location.pathname.lastIndexOf("/") + 1);

    switch (url) {
      case 'applied':
        activate("Applied Jobs");
      break;
      case 'resumes':
        activate("My Resumes");
      break;
      case 'edit':
        activate("Edit Profile");
      break;
      case 'saved_jobs':
        activate("Saved Jobs");
      break;
      default:
    		var link = ""
        activate("Current Jobs");
    }

    	function activate(link) {
    	$('#dash_breadcrumb li:contains('+link+')').addClass("dash_breadcrumb_active");
        $('#dash_breadcrumb a:contains('+link+')').contents().unwrap();
        console.log(link);
    	}

  });
</script>