 <% user = User.where(id: @seeker.user_id).first %>
 <%= user.email %>
 <%= user.firstName %>
<p><%= link_to "dashboard", seeker_path(@seeker) %> <%= link_to "profile", edit_seeker_path(@seeker) %> <%= link_to "applied jobs", applied_seeker_path(@seeker) %></p>