 <% user = User.where(id: @seeker.user_id).first %>
 <%= user.email %>
 <%= user.firstName %>
<div class="container ">
	<ol class="breadcrumb">
		<li><%= link_to "dashboard", seeker_path(@seeker) %></li>
		<li><%= link_to "profile", edit_seeker_path(@seeker) %></li>
		<li class="active"><%= link_to "applied jobs", applied_seeker_path(@seeker) %></li>
	</ol>
</div>
<%= link_to "Download Resume", @seeker.resumes.first.file_url %>