<div class="editor">
              <h2>
                <i class="glyphicon glyphicon-list-alt"></i>
                Sales Skills
              </h2>
            </div>
          <div class="row">
            <div class="ck-button">
              <%= f.label :coldCall, "Cold Calling" %><br>
              <%= f.check_box :coldCall %>
            </div>
            <div class="ck-button">
              <%= f.label :doorToDoor, "Door to Door" %><br>
              <%= f.check_box :doorToDoor %>
            </div>
            <div class="ck-button">
              <%= f.label :custService, "Customer Service" %><br>
              <%= f.check_box :custService %>
            </div>
            <div class="ck-button">
              <%= f.label :acctManagment, "Account Management" %><br>
              <%= f.check_box :acctManagment %>
            </div>
            <div class="ck-button">
              <%= f.label :negotiation %><br>
              <%= f.check_box :negotiation %>
            </div>
            <div class="ck-button">
              <%= f.label :presenting %><br>
              <%= f.check_box :presenting %>
            </div>
            <div class="ck-button">
              <%= f.label :leadership, "Managed a Team" %><br>
              <%= f.check_box :leadership %>
            </div>
            <div class="ck-button">
              <%= f.label :closing %><br>
              <%= f.check_box :closing %>
            </div>
            <div class="ck-button">
              <%= f.label :hunterBased, "Hunter-based" %><br>
              <%= f.check_box :hunterBased %>
            </div>
            <div class="ck-button">
              <%= f.label :farmerBased, "Farmer Based" %><br>
              <%= f.check_box :farmerBased %>
            </div>
            <div class="ck-button">
              <%= f.label :commBased, "Commission Based" %><br>
              <%= f.check_box :commBased %>
            </div>
          </div>
          <hr>