    <%= form_for @seeker do |f| %>
 
<div class="register-photo" >
  <div class="landing_form-container" id="first_seeker" >

          <div class="editor">
              <h2>
                <%= image_tag "JH_form/EducationCertifications.png" %>
                Education + Certifications
              </h2>
            </div>
          <div>
              <%= f.label :educationLevel, "Education Level" %><br>
              <%= f.select :educationLevel, [['High School', 1], ['Some Post-Secondary Experience', 2],[ "Diploma", 3], ["Bachelor's", 4], ["Master's", 5]], {}, { class: "form form-group form-control" } %>
            </div>
            <hr>
            <div>
              <%= f.label :certifications, "Certifications" %><br>
              <%= f.select :certifications, ['VSA', 'CFA (level 1)', 'CFA (level 2)', 'CFA (level 3)', 'CSC', 'CIP', 'LLQP', 'CAIB', 'Insurance Broker (level 1)', 'Insurance Broker (level 2)', 'Insurance Broker (level 3)'], {prompt: "Select Certifications"},{:multiple => true, class: "form-control multi-select"}%>
            </div>
            <div class="row">
              <div class="ck-button">
                <%= f.label :driversLicence, "Driver's License" %><br>
                <%= f.check_box :driversLicence %>
              </div>
              <div class="ck-button">
                <%= f.label :hasVehicle, "Access to own vehicle" %><br>
                <%= f.check_box :hasVehicle %>
              </div>
            </div>
  </div>
</div>
 <div class="tagline">
    <a href="#second_seeker" class="to-continue"></a>
  </div>
<div class="register-photo" >
 
  <div class="landing_form-container" id="second_seeker" >

            <div class="editor">
              <h2>
                  <%= image_tag "JH_form/Languages.png" %>
                  Proficient Languages</h2> 
            </div>
            <div>
              
              <%= f.select :languages, [ ["English", "English"], ["French", "French"], ["Korean", "Korean"], ["Mandarin", "Mandarin"], ["Punjabi", "Punjabi"], ["Spanish", "Spanish"], ["Arabic", "Arabic"], ["Cantonese", "Cantonese"]], {},{:multiple => true, class: "form-control multi-select"} %>
                <p class='error'><%= show_errors(@seeker, :languages) %></p>
            </div>
            <div class="editor">
              <h2>
                <%= image_tag "JH_form/Location.png" %>
                Location
              </h2>
            </div>
            <div>
              <%= f.label :postalCode, "Postal Code" %><br>
              <%= 
                if f.object.postalCode
                  f.text_field :postalCode, :value => f.object.postalCode.upcase, class: "form-control" 
                else
                   f.text_field :postalCode, placeholder: "Postal Code", class: "form-control" 
                end
              %>
              <p>(this will be used to aid the matching process)</p>
              <p class='error'><%= show_errors(@seeker, :postalCode) %></p>
            </div>
     

          
      

             <br>
            <div><%= f.submit "Start Hunting", class: "btn btn-primary btn-block", id: "seeker_submit_button" %></div>
          <% end %>
  </div> 
</div> 
</div>
<script> 
  <%= render(:partial => 'seekers/formjs', :formats => [:js] ) %>
  </script>
  <script>
  <%= render(:partial => 'seekers/smooth_scroll', :formats => [:js] ) %>
</script>
