<% if current_user.role == "Seeker" && Seeker.where(user_id: current_user.id).first %>
    <%= render 'seekers/header' %>
<% elsif current_user.role == "Employer" %>
    <%= render 'employers/header' %>
<% end %>
<div class="container">

  <div class="job_display_desc col-md-12" style="padding: 0;">  
        <div class="checkmark">
          <%= image_tag "check.png" %></a>
          <h2>You don't have a resume.</h2>
          <h3>Would you like to add one?</h3>
        </div>
      <div>
      <hr noshade id="application_hr"> 
      <div class="row job_display_desc_row">
            <div class="job_summary_display">
              <%= button_to "Add Resume",new_seeker_resume_path(@seeker), :method => "get", params: { job_id: @job.id }, class: "btn btn-default", id: "apply_button_apps_page" %>
              <%= button_to "Apply Without One", "/pages/construction", :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>
              
            </div>
        </div>
        
      </div>
    </div>

  <%= button_to "Return to jobs",seeker_path(@seeker), :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>

</div>