<%= render 'header' %>
<% unless @seeker.postalCode.first == "V" || @seeker.postalCode.first == "M" || @seeker.postalCode.first == "L" %>

		<div class="add_row" id="add_row_top">
			<div class="col-md-3 col-xs-12">
		 		<%= render 'sidebar' %>
		 	</div>
		</div>
		<div class="add_row">
			<div class="col-lg-9 col-md-9 col-xm-12">
				<%= render 'pages/new_area' %>	
<% else %>
		<div class="add_row" id="add_row_top">
			<div class="col-md-4 col-xs-12">
		 		<%= render 'sidebar' %>
		 	</div>
		</div>
		<div class="add_row">
			<div class="col-lg-7 col-md-8 col-xm-12">
				<%= render 'jobs/index' %>
		   	   		
  <% end %>
	</div>
</div>

<script>

$( function() {

 	var windowTest = $(window ).width();
 	var add_row = $('.add_row'); 
	if (windowTest <= 1000) {
	     console.log("inital load" + windowTest); 
	     add_row.addClass("row");  
	      }
	 $( window ).resize(function() {
	 	windowTest = $(window ).width();
	 	if (windowTest <= 1000) {
	     console.log("add row" + windowTest); 
	     add_row.addClass("row");  
	     $('#add_row_top').addClass("margin_sidebar");
	     } else {
	     console.log("remove row" + windowTest); 
	     add_row.removeClass("row"); 
	     $('#add_row_top').removeClass("margin_sidebar");
	     }
	  });   
});
</script>