<div class="dash_header">
	<%= image_tag "up_logotrans.png", class: "dash_header_logo" %>
	<ol class="breadcrumb dash_breadcrumb" id="dash_breadcrumb">
    <li><%= link_to "Dashboard", admin_root_path %></li>
		<li><%= link_to "User Management", admin_users_path %></li>
		<li><%= link_to "Job Management", admin_jobs_path %></li>
		<li><%= link_to "Seeker Management", "/pages/construction" %></li>
		<li><%= link_to "Employer Management", admin_employers_path %></li>
    <li><%= link_to "Applications", admin_applications_path  %></li>
    <li><%= link_to "Out of Area", out_area_admin_users_path %></li>
	</ol>
</div>

<script>
  $( function() {
   
    var url = location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
    // var seekerID = String(admin);
    switch (url) {
      case 'users':
        activate("User Management");
      break;
      case 'jobs':
        activate("Job Management");
      break;
      case 'employers':
        activate("Employer Management");
      break;
      // case 'saved_jobs':
      //   activate("Saved Jobs");
      // break;
      case 'admin':
        activate("Dashboard");
      break;
      default:
    		var link = ""
        console.log("breadcrumb deactivated");
    }

    	function activate(link) {
    	$('#dash_breadcrumb li:contains('+link+')').addClass("dash_breadcrumb_active");
        $('#dash_breadcrumb a:contains('+link+')').contents().unwrap();
        console.log(link);
    	}

  });
</script>