    <%= form_for @job do |f| %>

      <% if @job.errors.any? %>
        <div>
          <%= pluralize(@job.errors.count, "error") %> prevented this job from being submitted:
          <ul>
            <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :jobType %><br>
        <%= f.select :jobType, ['part-time', 'full-time']%>
      </div>
      <div>
        <%= f.label :salary %><br>
        <%= f.select :salary, ['Salary', 'Hourly', 'Commission']%>
      </div>
      <div>
        <%= f.label :temp %><br>
        <%= f.check_box :temp %>
      </div>
      <div>
        <%= f.label :expiry %><br>
        <%= f.date_field :expiry %>
      </div>
      <div>
        <%= f.label :inSalesSoft %><br>
        <%= f.number_field :inSalesSoft %>
      </div>
      <div>
        <%= f.label :inSalesHard %><br>
        <%= f.number_field :inSalesHard %>
      </div>
      <div>
        <%= f.label :outSalesSoft %><br>
        <%= f.number_field :outSalesSoft %>
      </div>
      <div>
        <%= f.label :outSalesHard %><br>
        <%= f.number_field :outSalesHard %>
      </div>
      <div>
        <%= f.label :payLow %><br>
        <%= f.number_field :payLow %>
      </div>
      <div>
        <%= f.label :payHigh %><br>
        <%= f.number_field :payHigh %>
      </div>
      <div>
        <%= f.label :summary %><br>
        <%= f.text_field :summary %>
      </div>
      <div>
        <%= f.label :functions %><br>
        <%= f.text_field :functions %>
      </div>
      <div>
        <%= f.label :skills %><br>
        <%= f.text_area :skills %>
      </div>
      <div>
        <%= f.label :competencies %><br>
        <%= f.text_field :competencies %>
      </div>
       <div>
        <%= f.label :deptSize %><br>
        <%= f.number_field :deptSize %>
      </div>
       <div>
        <%= f.label :benefits %><br>
        <%= f.text_field :benefits %>
      </div>
      <div>
    <%= f.label :coldCall, "Cold Calling" %><br>
    <%= f.check_box :coldCall %>
  </div>
  <div>
    <%= f.label :doorToDoor, "Door to Door" %><br>
    <%= f.check_box :doorToDoor %>
  </div>
  <div>
    <%= f.label :custService, "Customer Service" %><br>
    <%= f.check_box :custService %>
  </div>
  <div>
    <%= f.label :acctManagment, "Account Management" %><br>
    <%= f.check_box :acctManagment %>
  </div>
  <div>
    <%= f.label :negotiation %><br>
    <%= f.check_box :negotiation %>
  </div>
  <div>
    <%= f.label :presenting %><br>
    <%= f.check_box :presenting %>
  </div>
  <div>
    <%= f.label :leadership %><br>
    <%= f.check_box :leadership %>
  </div>
  <div>
    <%= f.label :closing %><br>
    <%= f.check_box :closing %>
  </div>
  <div>
    <%= f.label :hunterBased, "Hunter-based" %><br>
    <%= f.check_box :hunterBased %>
  </div>
  <div>
    <%= f.label :farmerBased, "Farmer Based" %><br>
    <%= f.check_box :farmerBased %>
  </div>
  <div>
    <%= f.label :commBased %><br>
    <%= f.check_box :commBased %>
  </div>
  <div>
    <%= f.label :B2C %><br>
    <%= f.check_box :B2C %>
  </div>
  <div>
    <%= f.label :B2B %><br>
    <%= f.check_box :B2B %>
  </div>
  <div>
    <%= f.label :consSales %><br>
    <%= f.check_box :consSales %>
  </div>
  <div>
    <%= f.label :directSales %><br>
    <%= f.check_box :directSales %>
  </div>
  <div>
    <%= f.label :solutionSales %><br>
    <%= f.check_box :solutionSales %>
  </div>
      <div>
        <%= f.submit "Submit" %> 
      </div>
    <% end %>