    <%= form_for @job do |f| %>

      <% if @job.errors.any? %>
        <div>
          <%= pluralize(@job.errors.count, "error") %> prevented this job from being submitted:
          <ul>
            <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :jobType %><br>
        <%= f.select :jobType, ['part-time', 'full-time']%>
      </div>
      <div>
        <%= f.label :salary %><br>
        <%= f.select :salary, ['Salary', 'Hourly', 'Commission']%>
      </div>
      <div>
        <%= f.label :temp %><br>
        <%= f.check_box :temp %>
      </div>
      <div>
        <%= f.label :expiry %><br>
        <%= f.date_field :expiry %>
      </div>
      <div>
        <%= f.label :inSalesSoft %><br>
        <%= f.number_field :inSalesSoft %>
      </div>
      <div>
        <%= f.label :inSalesHard %><br>
        <%= f.number_field :inSalesHard %>
      </div>
      <div>
        <%= f.label :outSalesSoft %><br>
        <%= f.number_field :outSalesSoft %>
      </div>
      <div>
        <%= f.label :outSalesHard %><br>
        <%= f.number_field :outSalesHard %>
      </div>
      <div>
        <%= f.label :payLow %><br>
        <%= f.number_field :payLow %>
      </div>
      <div>
        <%= f.label :payHigh %><br>
        <%= f.number_field :payHigh %>
      </div>
      <div>
        <%= f.label :summary %><br>
        <%= f.text_field :summary %>
      </div>
      <div>
        <%= f.label :functions %><br>
        <%= f.text_field :functions %>
      </div>
      <div>
        <%= f.label :skills %><br>
        <%= f.text_area :skills %>
      </div>
      <div>
        <%= f.label :competencies %><br>
        <%= f.text_field :competencies %>
      </div>
       <div>
        <%= f.label :deptSize %><br>
        <%= f.number_field :deptSize %>
      </div>
       <div>
        <%= f.label :benefits %><br>
        <%= f.text_field :benefits %>
      </div>
      <div>
        <%= f.submit "Submit" %> 
      </div>
    <% end %>