
    <div class="register-photo">
      <div class="form-container">
       
        <%= tinymce_assets %>
        <%= form_for @job, :html => {:class => 'profile_form'} do |f| %>


        <div class="editor">
          <h2>
            <%= image_tag "EmpForm/Job Type.png"%>
              Job Type
          </h2>
        </div>
        <div class="row">
          <% if current_user.role == "Admin" && @emp_list%>
            <div>
              <%= f.label :employer_id, "Employer" %>
              <%= select_tag :employer_id, options_for_select(@emp_list),{class: "form form-group form-control"} %>
              <p class='error'><%= show_errors(@job, :employer_id) %></p>
            </div>
          <% end %>
          <div>
       
            <%= f.select :jobType, [['Part-time', 'part-time'], ['Full-time', 'full-time']], {}, { class: "form form-group form-control" }%>
            <p class='error'><%= show_errors(@job, :jobType) %></p>
          </div>
          <div >
      
            <%= f.select :temp, [['Temporary', true], ['Permanent', false]], {}, { class: "form form-group form-control" }%>
            <p class='error'><%= show_errors(@job, :temp) %></p>
          </div>
            
          </div>
          <div class="editor">
            <h2>
              <%= image_tag "EmpForm/Pay Structure.png"%>
                Pay Structure
            </h2>
          </div> 
 
          <div class="ck-button">
            <label for="job_salary">Salary</label><br>
            <input name="job[salary]" type="hidden" value="0"><input type="checkbox" value="1" name="job[salary]" id="job_salary">
            <%= f.hidden_field :salary, value: @job.salary, id: "hiddenSalary"  %>
            <div style="clear:both;margin-top:15px;">
              <p class='error'><%= show_errors(@job, :salary) %></p>
            </div>
          </div>
          <div class="ck-button">
            <label >Hourly</label><br>
            <input  type="hidden" value="0"><input type="checkbox" value="1"  id="job_hourly">
          </div>
          <div class="row">
            <div class="ck-button" id="ck-button-comm">
                <%= f.label :commDirect, "Direct Commission", data: {tooltip: "Commission is earned in direct proportion to the number of goods/services sold." } %><br>
                <%= f.check_box :commDirect %>
              </div>
              <div class="ck-button" id="ck-button-comm">
                <%= f.label :commResidual, "Residual Commission", data: {tooltip: "Commission will be received periodically as long as the client still maintains an account with the company." } %><br>
                <%= f.check_box :commResidual %>
              </div>
              <div class="ck-button" id="ck-button-comm">
                <%= f.label :commLead, "Lead Commission", data: {tooltip: "Commission that is earned for referring a prospect to a different company or different sector of the business." }  %><br>
                <%= f.check_box :commLead %>
              </div>
          </div>
          <div class="form-inline">
            <h2 style="display: inline-block;">Pay Range:&nbsp;&nbsp;</h2>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.number_field :payLow, class: "form-control salary_form"  %>
          
              <span style="margin: 15px">  to  </span>
            </div>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.number_field :payHigh, class: "form-control salary_form"  %>
              
            </div>
            <p class='error'><%= show_errors(@job, :payHigh) %></p>
                <p class='error'><%= show_errors(@job, :payLow) %></p>
          </div>
       

        <div class="editor">
          <h2>
            <%= image_tag "EmpForm/Experience.png"%>
              Sales Experience
          </h2>
        </div> 
        <div style="float:left; width:100%" >
              <%= f.check_box :general, style: "height:15px;width:15px;float:left;margin-right:5px;margin-bottom:15px" %>
              <p ><strong>General Sales</strong> - Select if specifically having inside or outside sales experience is <strong>not</strong> necessary.
            </div>
        <div style="clear:both;"></div>
         <div>
          <%= f.label :inSales, "Inside Sales (years)" %><br>
          <div id="inSales_job_slider" class="slider">
            <div id="inSales_job_handle" class="ui-slider-handle"></div>
            <div id="inSales_job_handle2" class="ui-slider-handle"></div>
          </div>
          <p class='error'><%= show_errors(@job, :inSalesSoft) %></p>
          <p class='error'><%= show_errors(@job, :inSalesHard) %></p>
          <%= f.hidden_field :inSalesSoft %>
          <%= f.hidden_field :inSalesHard %>
        </div>
        <div>
          <%= f.label :outSales, "Outside Sales (years)" %><br>
          <div id="outSales_job_slider" class="slider">
            <div id="outSales_job_handle" class="ui-slider-handle"></div>
            <div id="outSales_job_handle2" class="ui-slider-handle"></div>
          </div>
          <p class='error'><%= show_errors(@job, :outSalesSoft) %></p>
          <p class='error'><%= show_errors(@job, :outSalesHard) %></p>

          <%= f.hidden_field :outSalesSoft %>
          <%= f.hidden_field :outSalesHard %>
        </div>
        <div class="ck-button">
              <%= f.label :B2B, "B2B" %><br>
              <%= f.check_box :B2B %>
            </div>
        <div class="ck-button">
          <%= f.label :B2C, "B2C" %><br>
          <%= f.check_box :B2C %>
        </div>
        <div class="editor" style="clear:both;">
            <h2>
              <%= image_tag "JH_form/EducationCertifications.png" %>
              Education + Certifications
            </h2>
          </div>
        <div>
            <%= f.label :educationLevel, "Education Level" %><br>
            <%= f.select :educationLevel, [['High School', 1], ['Some Post-Secondary Experience', 2],[ "Diploma", 3], ["Bachelor's", 4], ["Master's", 5]], {}, { class: "form form-group form-control" } %>
            <p class='error'><%= show_errors(@job, :educationLevel) %></p>
          </div>
          <hr>
        <div>
     
          <%= f.select :certifications, ['VSA', 'CFA (level 1)', 'CFA (level 2)', 'CFA (level 3)', 'CSC', 'CIP', 'LLQP', 'CAIB', 'Insurance Broker (level 1)', 'Insurance Broker (level 2)', 'Insurance Broker (level 3)'], {},{:multiple => true, class: "form-control multi-select"}%>
          <p class='error'><%= show_errors(@job, :certifications) %></p>
        </div>

        <div class="row">
          <div class="ck-button">
            <%= f.label :driversLicence, "Class 5 Drivers License?" %><br>
            <%= f.check_box :driversLicence %>
            <p class='error'><%= show_errors(@job, :driversLicence) %></p>
          </div>
          <div class="ck-button">
              <%= f.label :hasVehicle, "Access to own vehicle?" %><br>
              <%= f.check_box :hasVehicle %>
              <p class='error'><%= show_errors(@job, :hasVehicle) %></p>
            </div>
        </div>
        <div class="editor">
            <h2>
                <%= image_tag "JH_form/Languages.png" %>
                Proficient Languages</h2> 
          </div>
        <div>
        
          <%= f.select :languages, [ ["English", "English"], ["French", "French"], ["Korean", "Korean"], ["Mandarin", "Mandarin"], ["Punjabi", "Punjabi"], ["Spanish", "Spanish"], ["Arabic", "Arabic"], ["Cantonese", "Cantonese"]], {},{:multiple => true, class: "form-control multi-select"}  %>
          <p class='error'><%= show_errors(@job, :languages) %></p>
        </div>
        
          <div class="editor">
            <h2>
              <%= image_tag "EmpForm/Skills.png"%>
              Sales Skills
            </h2>
          </div>

          <div class="row">
            <div class="ck-button">
              <%= f.label :coldCall, "Cold Calling" %><br>
              <%= f.check_box :coldCall %>
            </div>
            <div class="ck-button">
              <%= f.label :doorToDoor, "Door to Door" %><br>
              <%= f.check_box :doorToDoor %>
            </div>
            <div class="ck-button">
              <%= f.label :custService, "Customer Service" %><br>
              <%= f.check_box :custService %>
            </div>
            <div class="ck-button">
              <%= f.label :acctManagment, "Account Management" %><br>
              <%= f.check_box :acctManagment %>
            </div>
            <div class="ck-button">
              <%= f.label :negotiation %><br>
              <%= f.check_box :negotiation %>
            </div>
            <div class="ck-button">
              <%= f.label :presenting %><br>
              <%= f.check_box :presenting %>
            </div>
            <div class="ck-button">
              <%= f.label :leadership, "Leading a Team" %><br>
              <%= f.check_box :leadership %>
            </div>
            <div class="ck-button">
              <%= f.label :closing %><br>
              <%= f.check_box :closing %>
            </div>
        
            <div class="ck-button">
              <%= f.label :commBased, "Commission-Based Sales" %><br>
              <%= f.check_box :commBased %>
            </div>
          </div>
          <hr>
        
        <div class="editor">
            <h2>
              <%= image_tag "EmpForm/Job Description.png"%>
              Job Description
            </h2>
          </div>

        <div>
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control"  %>
          <p class='error'><%= show_errors(@job, :title) %></p>
        </div>
        <div>
          <%= f.label :summary, "Summary" %><br>
          <%= f.text_area :summary, class: "form-control", style: "height: 170px"  %>
          <p class='error'><%= show_errors(@job, :summary) %></p>
        </div>
        <div>
          <%= f.label :functions, "Essential Functions", style: "float:left;" %> 

            <div class="custom_title_dropdown">
               <%= f.select :title_functions, ["Essential Functions", "Option 2", "Option 3"], {include_blank: "change title"}, { class: "form form-group form-control"}  %>
            </div><br>
            <div style="clear:both"></div>
          <%= f.text_area :functions, class: "form-control tinymce", style: "height: 170px; clear:both;"  %>
          <%= tinymce :content_css => asset_path('application.css')%>
          <p class='error'><%= show_errors(@job, :functions) %></p>
        </div>
        <div class=job_skills_form>
          <%= f.label :skills ,"Skills", style: "float:left;" %>
          <div class="custom_title_dropdown" style="margin-right: 25px;">
               <%= f.select :title_skills, ["Skills", "Option 2", "Option 3"], {include_blank: "change title"}, { class: "form form-group form-control"}  %>
            </div><br>
            <div style="clear:both"></div>
          <%= f.text_area :skills, class: "form-control tinymce", style: "height: 100px"  %>
          <%= tinymce :content_css => asset_path('application.css')%>
          <p class='error'><%= show_errors(@job, :skills) %></p>
        </div>
        <div style="float:left; width: 330px">
          <%= f.label :competencies, "Competencies", style: "float:left;" %> 
          <div class="custom_title_dropdown" style="margin-right: 25px;">
               <%= f.select :title_comp, ["Competencies", "Option 2", "Option 3"], {include_blank: "change title"}, { class: "form form-group form-control"}  %>
            </div><br>
            <div style="clear:both"></div>
          <%= f.text_area :competencies, class: "form-control tinymce", style: "height: 100px"  %>
          <%= tinymce :content_css => asset_path('application.css')%>
          <p class='error'><%= show_errors(@job, :competencies) %></p>
        </div>
         <div style="width: 150px">
          <%= f.label :deptSize, "Size of Team" %><br>
          <%= f.number_field :deptSize, class: "form-control"  %>
          <p class='error'><%= show_errors(@job, :deptSize) %></p>
        </div>
        <div>
        <%= f.label :benefits, "Benefits", style: "float:left;" %> 
        <div class="custom_title_dropdown">
               <%= f.select :title_benefits, ["Benefits", "Option 2", "Option 3"], {prompt: "change title"}, { class: "form form-group form-control"}  %>
            </div><br>
            <div style="clear:both"></div>
        <%= f.text_area :benefits, class: "form-control tinymce"  %>
          <%= tinymce :content_css => asset_path('application.css')%>
          <p class='error'><%= show_errors(@job, :benefits) %></p>
        </div>
        <div>
          <%= f.label :CompUrl, "Optional: Choose URL that will send job hunters to your site" %><br>
          <%= f.label :CompUrl, "Note: Must include full URL ie: https://www.aceup.co/ instead of just www.aceup.co" %>
          <%= f.text_field :CompUrl, class: "form-control"  %>
          <p class='error'><%= show_errors(@job, :CompUrl) %></p>
        </div>
        <div>
          <div><%= f.submit "Post Job", class: "btn btn-primary btn-block", id: "employer_job_submit_button" %></div>
        </div>

      <% end %>
  </div>
 </div>

<%= tinymce %>
<script>
  $( function() {
      var handle = $( "#inSales_job_handle" );
      var handle2 = $( "#inSales_job_handle2" );
      $("#seeker_inSales").val(0);
      $("#seeker_outSales").val(0);

      // var tags_array = []
      // var benefits_array_db = <%=@job.benefits.to_json.html_safe%>
      // console.log("Benefits from Rails");
      // console.log(benefits_array_db);
      // $.each(benefits_array_db, function (index, value) {
      //   tags_array.push(value);
      //   $('<div class="job_edit_skills"><h3 data-tooltip="Delete tag?">'+ value +'</h3></div>').appendTo(tags_result)
      // });

      


      var inSalesSoft = "<%= @job.inSalesSoft %>";
      var inSalesHard =  "<%= @job.inSalesHard %>";
      var outSalesSoft = "<%= @job.outSalesSoft %>";
      var outSalesHard = "<%= @job.outSalesHard %>";


      var inSalesSoft_start = (inSalesSoft ? inSalesSoft  : 3);
      var inSalesHard_start = (inSalesHard ? inSalesHard : 5);
      var outSalesSoft_start = (outSalesSoft ? outSalesSoft : 3);
      var outSalesHard_start = (outSalesHard ? outSalesHard: 5);

      $("#job_inSalesSoft").val(inSalesSoft_start);
      $("#job_inSalesHard").val(inSalesHard_start);
      $("#job_outSalesSoft").val(outSalesSoft_start);
      $("#job_outSalesHard").val(outSalesHard_start);
   
      $( "#inSales_job_slider" ).slider({
        create: function() {
          handle.text( $( this ).slider( "values", 0 ) );
          handle2.text( $( this ).slider( "values", 1 ) );
        },
        range: true,
            min: 0,
            max: 10,
            step: 0.5,
            values: [inSalesSoft_start, inSalesHard_start],
        slide: function( event, ui ) {
          if ( ( ui.values[ 0 ] +  0.5) >= ui.values[ 1 ] ) {
            return false;
          }
          handle.text( ui.values[0] );
          handle2.text( ui.values[1] );
          $("#job_inSalesSoft").val(ui.values[1]);
          $("#job_inSalesHard").val(ui.values[0]);
          console.log("hard " + ui.values[0]);
          console.log("soft" + ui.values[1]);
        }
      });

      var handle3 = $( "#outSales_job_handle" );
      var handle4 = $( "#outSales_job_handle2" );
      $( "#outSales_job_slider" ).slider({
        create: function() {
          handle3.text( $( this ).slider( "values", 0 ) );
          handle4.text( $( this ).slider( "values", 1 ) );
        },
        range: true,
            min: 0,
            max: 10,
            step: 0.5,
            values: [outSalesSoft_start, outSalesHard_start],
        slide: function( event, ui ) {
          if ( ( ui.values[ 0 ] +  0.5) >= ui.values[ 1 ] ) {
            return false;
          }
          handle3.text( ui.values[0] );
          handle4.text( ui.values[1] );
          $("#job_outSalesSoft").val(ui.values[1]);
          $("#job_outSalesHard").val(ui.values[0]);
          console.log("hard " + ui.values[0]);
          console.log("soft" + ui.values[1]);
        }
      });
      var checkbox = $(".ck-button :checkbox");
      var ckbutton = $(".ck-button");

      checkbox.each(function() {
          if ($(this).is(":checked")) {
            $(this).parent().addClass("ck-button_bg");
          }
      });

      var testSal = "<%= @job.salary %>"
      var SalaryButton = $('#job_salary').closest("div")
      var HourlyButton = $('#job_hourly').closest("div")
      // console.log("Salary testSal -> " + testSal);

      if (testSal == "Salary") {
        // SalaryButton.children('label').html("Active");
        SalaryButton.addClass("ck-button_bg");
        SalaryButton.find("[type='checkbox']").prop('checked', true);
        HourlyButton.find("[type='checkbox']").prop('checked', false);
        // console.log("Salary made green");
     } else if (testSal == "Hourly"){
        // SalaryButton.children('label').html("Inactive");
        HourlyButton.addClass("ck-button_bg");
        HourlyButton.find("[type='checkbox']").prop('checked', true);
        SalaryButton.find("[type='checkbox']").prop('checked', false);
        // console.log("Salary made white");
     } else {
      HourlyButton.find("[type='checkbox']").prop('checked', false);
      SalaryButton.find("[type='checkbox']").prop('checked', false);
     }


     var driversLicence = $('#job_driversLicence').closest("div").find("[type='checkbox']")
      if (driversLicence.is(":checked")) {
        $('#job_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg"); 
      } else if (driversLicence.not(":checked")) {
        $('#job_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
      }

      ckbutton.on('click',function(){
        // console.log("tapped");
        var childCheck = $(this).find("[type='checkbox']")
        // console.log(childCheck.prop('id'));
        // console.log(childCheck.prop('checked'));

          if (childCheck.is(":checked")) {
            childCheck.prop('checked', false);
            $(this).removeClass("ck-button_bg"); 
              // if (childCheck.prop('id') == "job_status") {
                
              //   $(this).children('label').text('Inactive');
                // $('#hiddenStatus').val("inactive");
                // // $('#hiddenStatus').attr('value',"inactive");
                // test = $('#hiddenStatus').val();
                // // console.log("Status hidden value -> " test);
                // } 
              if (childCheck.prop('id') == "job_driversLicence") {
                $('#job_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
              }
              if (childCheck.prop('id') == "job_salary") {
                
                  $('#hiddenSalary').val("Salary");
                  HourlyButton.find("[type='checkbox']").prop('checked', true);
                  HourlyButton.addClass("ck-button_bg");
                  // console.log("Salary clicked, hourly made true");
                  testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
                if (childCheck.prop('id') == "job_hourly") {
                
                  $('#hiddenSalary').val("Hourly");
                  SalaryButton.find("[type='checkbox']").prop('checked', true);
                  SalaryButton.addClass("ck-button_bg");
                  // console.log("Hourly clicked, salary made true");
                  testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
               
            }else{
              childCheck.prop('checked', true);
              $(this).addClass("ck-button_bg");
              // if (childCheck.prop('id') == "job_status") {
              //   $(this).children('label').text('Active');
              //   $('#hiddenStatus').val("active");
              //   // $('#hiddenStatus').attr('value',"active");
              //   test = $('#hiddenStatus').val();
              //   // console.log("Status hidden value -> " test);
              //   }
              if (childCheck.prop('id') == "job_driversLicence") {
                $('#job_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg");
              }
               if (childCheck.prop('id') == "job_salary") {
                  $('#hiddenSalary').val("Salary");
                  
                  HourlyButton.find("[type='checkbox']").prop('checked', false);
                  HourlyButton.removeClass("ck-button_bg");
                  // console.log("Salary clicked, hourly made false");
                  testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
                if (childCheck.prop('id') == "job_hourly") {
                  $('#hiddenSalary').val("Hourly");
                  // $('#hiddenSalary').val("Salary");
                  SalaryButton.find("[type='checkbox']").prop('checked', false);
                  SalaryButton.removeClass("ck-button_bg");
                  // console.log("Hourly clicked, salary made false");
                                    testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
              
          }
        });
      $('#job_languages').find("option[value='English']").prop('selected', true);
      $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', $(this).prop('selected') ? false : true);
        return false;
      });

      $('#job_general').change(function() {
        // var childCheck = $(this).find("[type='checkbox']")
        if ($(this).is(":checked")) {
          console.log("checekd")
          $( "#outSales_job_slider" ).slider( "disable" )
          $('label[for=job_inSales]').text("General Sales (years")
          $("#job_outSalesSoft").val(0);
          $("#job_outSalesHard").val(0);
        } else {
          $( "#outSales_job_slider" ).slider( "enable" )
          $('label[for=job_inSales]').text("Inside Sales (years")
        }
      });

      // var tagbutton = $("#tags_button");

      //  $('#tags_build').keypress(function (e) {
      //    var key = e.which;
      //    if(key == 13)  // the enter key code
      //     {
      //       console.log("ENTER")
      //       tagbutton.trigger("click")
      //       return false;  
      //     }
      //   });


      // $(tagbutton).on('click',function(){
      //   // console.log("tags clicked");
      //   var tags_result = $('#tags_result');
      //   var tags_build = $('#tags_build').val()
      //   tags_array.push(tags_build);
      //   // test = JSON.stringify(tags_array)
      //   // $('#job_benefits').val(test);
      //   // $('#hiddenTags').val(test);
      //   var test_hidden = $('#job_benefits').val();
      //   console.log(tags_array);
      //   // $('<p>'+ tags_array + '</p>').appendTo(tags_result)
      //   $('<div class="job_edit_skills"><h3 data-tooltip="Delete tag?">'+ tags_build +'</h3></div>').appendTo(tags_result)
      // });
      

      //   $(document).delegate(".job_edit_skills", 'click', function() {
      //   var h3 =  $(this).find("h3").text();
      //   $(this).remove();
      //   console.log("h3 text " + h3);
      //   console.log("array before");
      //   console.log(tags_array);
      //   test = tags_array.indexOf(h3);
      //   console.log(test);
      //   // tags_array = tags_array.splice(test, 1);
      //   tags_array = tags_array.filter(function(item) { 
      //         return item !== h3
      //     })
      //   console.log("array after");
      //   console.log(tags_array);
      //   $('#job_benefits').val(tags_array);
      // });  

        // $('#employer_job_submit_button').on('click',function(e){
          // e.preventDefault();
          // var form_data = $('form').serialize()
          // $.ajax({
          //   url:"/jobs",
          //   type:'POST',
          //   dataType:'json',
          //   data:{
          //     job: {
          //       benefits: tags_array
          //           }
          //         }
          //     });
          //   });

      //     $.ajax({
      //       url:"/jobs/<%= @job.id %>",
      //       type:'PATCH',
      //       dataType:'json',
      //       data:{
      //         job: {
      //           benefits: tags_array
      //         }
      //       }
      //   });
      // });
        $('#employer_job_submit_button').submit(function(e){
          // If a submit is requested, and it's done via keyboard enter, stop it.
          if ((e.keyCode || e.which) == 13) { // Try to use normalized enter key code
              e.preventDefault(); // Prevent the submit.
          }
          // All other mouse actions just go through.
      });

    } );
 </script>