
    <div class="register-photo">
      <div class="form-container">
       

        <%= form_for @job, :html => {:class => 'profile_form'} do |f| %>

        <div class="editor">
          <h2>
            <i class="glyphicon glyphicon-road"></i>
              Job Type
          </h2>
        </div>
        <div class="row">
          <div>
       
            <%= f.select :jobType, [['Part-time', 'part-time'], ['Full-time', 'full-time']], {}, { class: "form form-group form-control" }%>
            <p class='error'><%= show_errors(@job, :jobType) %></p>
          </div>
          <div >
      
            <%= f.select :temp, [['Temporary', true], ['Permanent', false]], {}, { class: "form form-group form-control" }%>
            <p class='error'><%= show_errors(@job, :temp) %></p>
          </div>
            
          </div>
          <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-usd"></i>
                Pay Structure
            </h2>
          </div> 
 
          <div class="ck-button">
            <label for="job_salary">Salary</label><br>
            <input name="job[salary]" type="hidden" value="0"><input type="checkbox" value="1" name="job[salary]" id="job_salary">
            <%= f.hidden_field :salary, value: @job.salary, id: "hiddenSalary"  %>
            <div style="clear:both;margin-top:15px;">
              <p class='error'><%= show_errors(@job, :salary) %></p>
            </div>
          </div>
          <div class="ck-button">
            <label for="job_hourly">Hourly</label><br>
            <input name="job[hourly]" type="hidden" value="0"><input type="checkbox" value="1" name="job[hourly]" id="job_hourly">
          </div>
          <div class="row">
            <div class="ck-button" id="ck-button-comm">
                <%= f.label :commDirect, "Direct Commission" %><br>
                <%= f.check_box :commDirect %>
              </div>
              <div class="ck-button" id="ck-button-comm">
                <%= f.label :commResidual, "Residual Commission" %><br>
                <%= f.check_box :commResidual %>
              </div>
              <div class="ck-button" id="ck-button-comm">
                <%= f.label :commLead, "Lead Commission" %><br>
                <%= f.check_box :commLead %>
              </div>
          </div>
          <div class="form-inline">
            <h2 style="display: inline-block;">Pay Range:&nbsp;&nbsp;</h2>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.number_field :payLow, class: "form-control salary_form"  %>
          
              <span style="margin: 15px">  to  </span>
            </div>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.number_field :payHigh, class: "form-control salary_form"  %>
              
            </div>
            <p class='error'><%= show_errors(@job, :payHigh) %></p>
                <p class='error'><%= show_errors(@job, :payLow) %></p>
          </div>
       

        <div class="editor">
          <h2>
            <i class="glyphicon glyphicon-briefcase"></i>
              Sales Experience
          </h2>
        </div> 
         <div>
          <%= f.label :inSales, "Inside Sales (years)" %><br>
          <div id="inSales_job_slider" class="slider">
            <div id="inSales_job_handle" class="ui-slider-handle"></div>
            <div id="inSales_job_handle2" class="ui-slider-handle"></div>
          </div>
          <p class='error'><%= show_errors(@job, :inSalesSoft) %></p>
          <p class='error'><%= show_errors(@job, :inSalesHard) %></p>
          <%= f.hidden_field :inSalesSoft %>
          <%= f.hidden_field :inSalesHard %>
        </div>
        <div>
          <%= f.label :outSales, "Outside Sales (years)" %><br>
          <div id="outSales_job_slider" class="slider">
            <div id="outSales_job_handle" class="ui-slider-handle"></div>
            <div id="outSales_job_handle2" class="ui-slider-handle"></div>
          </div>
          <p class='error'><%= show_errors(@job, :outSalesSoft) %></p>
          <p class='error'><%= show_errors(@job, :outSalesHard) %></p>

          <%= f.hidden_field :outSalesSoft %>
          <%= f.hidden_field :outSalesHard %>
        </div>
        <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-education"></i>
              Education + Certifications
            </h2>
          </div>
        <div>
            <%= f.label :educationLevel, "Education Level" %><br>
            <%= f.select :educationLevel, [['High School', 1], ['Some Post-Secondary Experience', 2],[ "Diploma", 3], ["Bachelor's", 4], ["Master's", 5]], {}, { class: "form form-group form-control" } %>
            <p class='error'><%= show_errors(@job, :educationLevel) %></p>
          </div>
          <hr>
        <div>
     
          <%= f.select :certifications, ['VSA', 'CFA (level 1)', 'CFA (level 2)', 'CFA (level 3)', 'CSC', 'CIP', 'LLQP', 'CAIB', 'Insurance Broker (level 1)', 'Insurance Broker (level 2)', 'Insurance Broker (level 3)'], {},{:multiple => true, class: "form-control multi-select"}%>
          <p class='error'><%= show_errors(@job, :certifications) %></p>
        </div>

        <div class="row">
          <div class="ck-button">
            <%= f.label :driversLicence, "Class 5 Drivers License?" %><br>
            <%= f.check_box :driversLicence %>
            <p class='error'><%= show_errors(@job, :driversLicence) %></p>
          </div>
          <div class="ck-button">
              <%= f.label :hasVehicle, "Access to own vehicle?" %><br>
              <%= f.check_box :hasVehicle %>
              <p class='error'><%= show_errors(@job, :hasVehicle) %></p>
            </div>
        </div>
        <div class="editor">
            <h2>
                <i class="glyphicon glyphicon-comment"></i> 
                Proficient Languages</h2> 
          </div>
        <div>
        
          <%= f.select :languages, [ ["English", "English"], ["French", "French"], ["Korean", "Korean"], ["Mandarin", "Mandarin"], ["Punjabi", "Punjabi"], ["Spanish", "Spanish"], ["Arabic", "Arabic"], ["Cantonese", "Cantonese"]], {},{:multiple => true, class: "form-control multi-select"}  %>
          <p class='error'><%= show_errors(@job, :languages) %></p>
        </div>
        
          <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-list-alt"></i>
              Sales Skills
            </h2>
          </div>

          <div class="row">
            <div class="ck-button">
              <%= f.label :coldCall, "Cold Calling" %><br>
              <%= f.check_box :coldCall %>
            </div>
            <div class="ck-button">
              <%= f.label :doorToDoor, "Door to Door" %><br>
              <%= f.check_box :doorToDoor %>
            </div>
            <div class="ck-button">
              <%= f.label :custService, "Customer Service" %><br>
              <%= f.check_box :custService %>
            </div>
            <div class="ck-button">
              <%= f.label :acctManagment, "Account Management" %><br>
              <%= f.check_box :acctManagment %>
            </div>
            <div class="ck-button">
              <%= f.label :negotiation %><br>
              <%= f.check_box :negotiation %>
            </div>
            <div class="ck-button">
              <%= f.label :presenting %><br>
              <%= f.check_box :presenting %>
            </div>
            <div class="ck-button">
              <%= f.label :leadership, "Leading a Team" %><br>
              <%= f.check_box :leadership %>
            </div>
            <div class="ck-button">
              <%= f.label :closing %><br>
              <%= f.check_box :closing %>
            </div>
        
            <div class="ck-button">
              <%= f.label :commBased, "Commission-Based Sales" %><br>
              <%= f.check_box :commBased %>
            </div>
          </div>
          <hr>
        
        <div class="editor">
            <h2>
              <i class="glyphicon glyphicon-folder-open"></i>
              Job Description
            </h2>
          </div>

        <div>
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control"  %>
          <p class='error'><%= show_errors(@job, :title) %></p>
        </div>
        <div>
          <%= f.label :summary, "Summary" %><br>
          <%= f.text_area :summary, class: "form-control", style: "height: 170px"  %>
          <p class='error'><%= show_errors(@job, :summary) %></p>
        </div>
        <div>
          <%= f.label :functions, "Essential Functions" %><br>
          <%= f.text_area :functions, class: "form-control", style: "height: 90px"  %>
          <p class='error'><%= show_errors(@job, :functions) %></p>
        </div>
        <div>
          <%= f.label :skills ,"Skills"%><br>
          <%= f.text_area :skills, class: "form-control", style: "height: 60px"  %>
          <p class='error'><%= show_errors(@job, :skills) %></p>
        </div>
        <div>
          <%= f.label :competencies, "Competencies" %><br>
          <%= f.text_area :competencies, class: "form-control", style: "height: 100px"  %>
          <p class='error'><%= show_errors(@job, :competencies) %></p>
        </div>
         <div>
          <%= f.label :deptSize, "Size of Team" %><br>
          <%= f.number_field :deptSize, class: "form-control"  %>
          <p class='error'><%= show_errors(@job, :deptSize) %></p>
        </div>
         <div>
          <%= f.label :benefits, "Benefits" %><br>
          <%= f.text_area :benefits, class: "form-control", style: "height: 100px"  %>
          <p class='error'><%= show_errors(@job, :benefits) %></p>
        </div>
        <div>
          <%= f.label :CompUrl, "Optional: Choose URL that will send job hunters to your site" %><br>
          <%= f.label :CompUrl, "Note: Must include full URL ie: https://www.aceup.co/ instead of just www.aceup.co" %>
          <%= f.text_field :CompUrl, class: "form-control"  %>
          <p class='error'><%= show_errors(@job, :CompUrl) %></p>
        </div>
        <div>
          <div><%= f.submit "Post Job", class: "btn btn-primary btn-block", id: "employer_job_submit_button" %></div>
        </div>

      <% end %>
  </div>
 </div>


<script>
  $( function() {
      var handle = $( "#inSales_job_handle" );
      var handle2 = $( "#inSales_job_handle2" );
      $("#seeker_inSales").val(0);
      $("#seeker_outSales").val(0);
      var inSalesSoft = "<%= @job.inSalesSoft %>";
      var inSalesHard =  "<%= @job.inSalesHard %>";
      var outSalesSoft = "<%= @job.outSalesSoft %>";
      var outSalesHard = "<%= @job.outSalesHard %>";


      var inSalesSoft_start = (inSalesSoft ? inSalesSoft  : 3);
      var inSalesHard_start = (inSalesHard ? inSalesHard : 5);
      var outSalesSoft_start = (outSalesSoft ? outSalesSoft : 3);
      var outSalesHard_start = (outSalesHard ? outSalesHard: 5);
   
      $( "#inSales_job_slider" ).slider({
        create: function() {
          handle.text( $( this ).slider( "values", 0 ) );
          handle2.text( $( this ).slider( "values", 1 ) );
        },
        range: true,
            min: 0,
            max: 10,
            step: 0.5,
            values: [inSalesSoft_start, inSalesHard_start],
        slide: function( event, ui ) {
          if ( ( ui.values[ 0 ] +  0.5) >= ui.values[ 1 ] ) {
            return false;
          }
          handle.text( ui.values[0] );
          handle2.text( ui.values[1] );
          $("#job_inSalesSoft").val(ui.values[0]);
          $("#job_inSalesHard").val(ui.values[1]);
          console.log(ui.values[0]);
          console.log(ui.values[1]);
        }
      });

      var handle3 = $( "#outSales_job_handle" );
      var handle4 = $( "#outSales_job_handle2" );
      $( "#outSales_job_slider" ).slider({
        create: function() {
          handle3.text( $( this ).slider( "values", 0 ) );
          handle4.text( $( this ).slider( "values", 1 ) );
        },
        range: true,
            min: 0,
            max: 10,
            step: 0.5,
            values: [outSalesSoft_start, outSalesHard_start],
        slide: function( event, ui ) {
          if ( ( ui.values[ 0 ] +  0.5) >= ui.values[ 1 ] ) {
            return false;
          }
          handle3.text( ui.values[0] );
          handle4.text( ui.values[1] );
          $("#job_outSalesSoft").val(ui.values[0]);
          $("#job_outSalesHard").val(ui.values[1]);
          console.log(ui.values[0]);
          console.log(ui.values[1]);
        }
      });
      var checkbox = $(".ck-button :checkbox");
      var ckbutton = $(".ck-button");

      checkbox.each(function() {
          if ($(this).is(":checked")) {
            $(this).parent().addClass("ck-button_bg");
          }
      });

     //  var test = $('#hiddenStatus').val()
     //  var statusButton = $('#job_status').closest("div")
     //  // console.log("Status test -> " + test);

     //  if (test == "active") {
     //    statusButton.children('label').html("Active");
     //    statusButton.addClass("ck-button_bg");
     //    statusButton.find("[type='checkbox']").prop('checked', true);
     //    // console.log("Status made green");
     // } else {
     //    statusButton.children('label').html("Inactive");
     //    statusButton.removeClass("ck-button_bg");
     //    statusButton.find("[type='checkbox']").prop('checked', false);
     //    // console.log("Status made white");
     // } 

      var testSal = "<%= @job.salary %>"
      var SalaryButton = $('#job_salary').closest("div")
      var HourlyButton = $('#job_hourly').closest("div")
      // console.log("Salary testSal -> " + testSal);

      if (testSal == "Salary") {
        // SalaryButton.children('label').html("Active");
        SalaryButton.addClass("ck-button_bg");
        SalaryButton.find("[type='checkbox']").prop('checked', true);
        HourlyButton.find("[type='checkbox']").prop('checked', false);
        // console.log("Salary made green");
     } else {
        // SalaryButton.children('label').html("Inactive");
        HourlyButton.addClass("ck-button_bg");
        HourlyButton.find("[type='checkbox']").prop('checked', true);
        SalaryButton.find("[type='checkbox']").prop('checked', false);
        // console.log("Salary made white");
     } 


     var driversLicence = $('#job_driversLicence').closest("div").find("[type='checkbox']")
      if (driversLicence.is(":checked")) {
        $('#job_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg"); 
      } else if (driversLicence.not(":checked")) {
        $('#job_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
      }

      ckbutton.on('click',function(){
        // console.log("tapped");
        var childCheck = $(this).find("[type='checkbox']")
        // console.log(childCheck.prop('id'));
        // console.log(childCheck.prop('checked'));

          if (childCheck.is(":checked")) {
            childCheck.prop('checked', false);
            $(this).removeClass("ck-button_bg"); 
              // if (childCheck.prop('id') == "job_status") {
                
              //   $(this).children('label').text('Inactive');
                // $('#hiddenStatus').val("inactive");
                // // $('#hiddenStatus').attr('value',"inactive");
                // test = $('#hiddenStatus').val();
                // // console.log("Status hidden value -> " test);
                // } 
              if (childCheck.prop('id') == "job_driversLicence") {
                $('#job_hasVehicle').prop("disabled", true).parent().addClass("disabled-button_bg");
              }
              if (childCheck.prop('id') == "job_salary") {
                
                  $('#hiddenSalary').val("Salary");
                  HourlyButton.find("[type='checkbox']").prop('checked', true);
                  HourlyButton.addClass("ck-button_bg");
                  // console.log("Salary clicked, hourly made true");
                  testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
                if (childCheck.prop('id') == "job_hourly") {
                
                  $('#hiddenSalary').val("Hourly");
                  SalaryButton.find("[type='checkbox']").prop('checked', true);
                  SalaryButton.addClass("ck-button_bg");
                  // console.log("Hourly clicked, salary made true");
                  testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
               
            }else{
              childCheck.prop('checked', true);
              $(this).addClass("ck-button_bg");
              // if (childCheck.prop('id') == "job_status") {
              //   $(this).children('label').text('Active');
              //   $('#hiddenStatus').val("active");
              //   // $('#hiddenStatus').attr('value',"active");
              //   test = $('#hiddenStatus').val();
              //   // console.log("Status hidden value -> " test);
              //   }
              if (childCheck.prop('id') == "job_driversLicence") {
                $('#job_hasVehicle').prop("disabled", false).parent().removeClass("disabled-button_bg");
              }
               if (childCheck.prop('id') == "job_salary") {
                  $('#hiddenSalary').val("Salary");
                  
                  HourlyButton.find("[type='checkbox']").prop('checked', false);
                  HourlyButton.removeClass("ck-button_bg");
                  // console.log("Salary clicked, hourly made false");
                  testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
                if (childCheck.prop('id') == "job_hourly") {
                  $('#hiddenSalary').val("Hourly");
                  // $('#hiddenSalary').val("Salary");
                  SalaryButton.find("[type='checkbox']").prop('checked', false);
                  SalaryButton.removeClass("ck-button_bg");
                  // console.log("Hourly clicked, salary made false");
                                    testSal = $('#hiddenSalary').val();
                  // console.log("salary variable "+ testSal);
                } 
              
          }
        });
      $('#job_languages').find("option[value='English']").prop('selected', true);
      $('option').mousedown(function(e) {
        e.preventDefault();
        $(this).prop('selected', $(this).prop('selected') ? false : true);
        return false;
      });

    } );
 </script>