
        <% if current_user.role == "Seeker" %>
          <% @matchJobs.each do |job| %>
              <% unless job.status == "inactive" %>
                    <% employer = Employer.where(id: job.employer_id).first %>
                    <div class="job_show">
                         <hr size="6" noshade>
                        <div class="job_show_header">
                            <div class="job_show_img">
                              
                                <%= print_image(employer.logo_url.to_s) %>
                            </div>
                            <div class="job_show_title">
                                <h1><%= link_to job.title, job_path(job), class: "job_title_text" %></h1>
                                <h2 clas="job_title_comp_text"><%= employer.compName %></h2>
                                <h4><%= job.summary.truncate(300) %></h4>
                            </div>
                        </div>
                        <div class="job_show_text">
                            <% aspects = {
                                AspProspecting: "Prospecting",
                                AspcoldCall: "Cold Calling",
                                AspdoorToDoor: "Door to Door",
                                AspWarmLeads: "Warm Leads",
                                AspNetworking: "Networking",
                                AspPresenting: "Presenting",
                                AspClosing: "Closing",
                                AspNegotiation: "Negotiation",
                                AspacctManagment: "Management",
                                AspB2B: "B2B",
                                AspB2C: "B2C",
                                AspInSales: "Inside Sales",
                                AspOutSales: "Outside Sales",
                                AspInbound: "Inbound Sales",
                                AspOutbound: "Outbound Sales",
                                AspOvernight: "Overnight Travel",
                                AspLocal: "Local Travel",
                              }
                                aspects_options = aspects.map {|k, v| k} 
                                @jobApects = job.slice(*aspects_options).select {|key, value| value == true }
                               aspects_list = aspects.select{ |k ,v| @jobApects.has_key? k}.map {|k, v| v} 
                            %>
                                <span data-tooltip-aspect= "Job Aspects:&#xa;<% aspects_list.each do |asp| %><%= asp %>&#xa; <% end %>"><%=  image_tag "up_logotrans_red.png", class: "aspect_hover_img" %></span>
                                
            
                           <div style="clear:both;"></div>
                            <%= button_to "View Job",job_path(job), :method => "get",  class: "btn btn-default", id: "save_jobs_button" %>
                            <h3>Job Type:&nbsp;</h3><%= job.jobType.capitalize %> </br>
                            
                            <h3>Pay Range:&nbsp;</h3><%= number_to_currency(job.payLow, locale: :en, precision: 0)   %> to <%= number_to_currency(job.payHigh, locale: :en, precision: 0)   %>                    
                            <div>

                            <%= button_to "Save",new_job_saved_job_path(job), :method => "get",  class: "btn btn-default", id: "save_jobs_button" %>
                                
                              <h3>Location:&nbsp;</h3><%= employer.city %> </br>
                              <h3>Posted:&nbsp;</h3><%= job.created_at.strftime("%b %d, %Y") %> </br>
                            </div>
                        </div>

                    </div>
              <% end %>
           <% end %> 
            <div class="pagination" >
                <%= paginate @matchJobs %>
                <%= page_entries_info @matchJobs %>
            </div>
            <hr>
        <% else %>
            <h2>You need to be a seeker</h2>
        <% end %>

<script>
    $( function() {

    // var title_text = $('.job_title_text')
    // var job_title_comp_text = $('.job_title_comp_text')
    //   // shrink_title(title_text);                    
    //  $( window ).resize(function() {
    //     // shrink_title(title_text)
    //     windowTest = $(window ).width();
    //     console.log(windowTest);
    //   });   
    //  function shrink_title(title) {
    //     windowTest = $(window ).width();
    //     title.each(function() {
    //         var height = $(this).height()
    //         if (height > 40 && windowTest < 600) {
    //             $(this).addClass("greenBG");
    //             $(this).addClass("job_show_title_height_fix");
    //             $(this).closest('div').find('h2').addClass("job_show_comp_height_fix");
    //             $(this).closest('job_show_header').addClass("overflow_visible");
    //         } else {
    //             $(this).removeClass("greenBG");
    //             $(this).removeClass("job_show_title_height_fix");
    //             $(this).closest('div').find('h2').removeClass("job_show_comp_height_fix");

    //         }
    //     }); 

    //  };

});


</script>