<% if current_user.role == "Seeker" && Seeker.where(user_id: current_user.id).first %>
    <%= render 'seekers/header' %>
<% elsif current_user.role == "Employer" %>
    <%= render 'employers/header' %>
<% end %>
<div class="container">
        <div class="job_show_header_display">
            <div class="job_show_img_display">
                <%= image_tag(@employer.logo_url.to_s) %>
            </div>
            <div class="job_show_title_display">
                <h1><%= @job.title %></h1>
                <h2><%= @employer.compName %></h2></br>
                
            </div>
            <div class="job_show_header_text_display">
                <%= button_to "Apply",new_job_application_path(@job), :method => "get",  class: "btn btn-default", id: "save_jobs_button_display" %>
                    <h2>Location:&nbsp;</h2><%= @employer.city %> </br>

                    <h2>Job Type:&nbsp;</h2><%= @job.jobType.capitalize %> </br>
                    <% if current_user.role == "Employer" ||  current_user.role == "Admin" %>
                        <%= button_to "Edit",edit_job_path(@job), :method => "get",  class: "btn btn-default", id: "save_jobs_button_display" %>
                    <% else %>     
                        <%= button_to "Save",new_job_saved_job_path(@job), :method => "get",  class: "btn btn-default", id: "save_jobs_button_display" %>
                    <% end %>
                    <h2>Pay Range:&nbsp;</h2><%= number_to_currency(@job.payLow)   %> to <%= number_to_currency(@job.payHigh)   %>
            </div>
        </div>       
   
    <div class="job_display_desc col-md-12">  
        <hr size="6" noshade style="margin-top: 0px"> 
        <div class="row">
            <div>
                <h1>Job Description</h1>
            </div>
        </div>
        <% if @job.summary.length > 0 %>
            <div class="row job_display_desc_row">
                <div class="job_summary_title_display">
                    <h2>Summary:</h2>
                </div>
                <div class="job_summary_display">
                    <h3><%= @job.summary %></h3>
                </div>  
            </div>
         <% end %>
        <% if @job.functions && @job.functions.length > 0 %>

            <div class="row job_display_desc_row">
                <div class="job_summary_title_display">
                    <h2><%=@job.title_functions && @job.title_functions.length > 0 ? @job.title_functions : "Responsibilities" %>: </h2>
                </div>
                <div class="job_summary_display">
                    <h3><%= @job.functions.html_safe  %></h3>
                </div>  
            </div>
        <% end %>
        <% if @job.skills && @job.skills.length > 0 %>
             <div class="row job_display_desc_row">
                <div class="job_summary_title_display">
                    <h2><%=@job.title_skills && @job.title_skills.length > 0  ? @job.title_skills : "Skills" %>: </h2>
                </div>
                <div class="job_summary_display">
                    <h3><%= @job.skills.html_safe  %></h3>
                </div>  
            </div>
        <% end %>
        <% if @job.competencies && @job.competencies.length > 0 %>
             <div class="row job_display_desc_row">
                <div class="job_summary_title_display">
                    <h2><%=@job.title_comp && @job.title_comp.length > 0  ? @job.title_comp : "Competencies" %>: </h2>
                </div>
                <div class="job_summary_display">
                    <%= @job.competencies.html_safe  %>
                </div>  
            </div>
        <% end %>
        <% if @job.benefits && @job.benefits.length > 0 %>
            <div class="row job_display_desc_row">
               <div class="job_summary_title_display">
                    <h2><%=@job.title_benefits && @job.title_benefits.length > 0  ? @job.title_benefits : "Benefits" %>: </h2>
                </div>
               <div class="job_summary_display">
                    <%= @job.benefits.html_safe  %>
                </div>   
            </div>
        <% end %>
        <div class="row job_display_desc_row">
           <div class="job_summary_title_display">
                <h2>Company Description:</h2>
            </div>
            <div class="job_summary_display">
                <h3><%= @employer.compDesc  %></h3>
            </div>  
        </div>
        <div class="row job_display_desc_row">
           <div class="job_summary_title_display">
                <h2>Department Size:</h2>
            </div>
            <div class="job_summary_display">
                <h3><%= @job.deptSize  %></h3>
            </div>  
        </div>
        <hr size="6" noshade>  
        <div class="row">
            <h1>Pay Structure</h1>  
        </div>
        <div class="row payShow">
            <h2>Base Salary:&nbsp;</h2> <span style="font-size: 28px;"><%= @job.salary %></span> </br>
            <div class="float-left"><h2>Commission:&nbsp;</h2></div>
            <% if @commissions
                 @commissions.each do |comm| %>
                    <div class="job_display_skills"><h2><%=comm%></h2></div>
                <% end %>
            <% else %>   
                <div class="job_display_skills"><h2>None</h2></div> 
            <% end %>
        </div>
        <div class="job_display_bar">
          <h1> MATCHED RESULTS </h1>
        </div>
        <div class="row">
            <h1>Sales Experience</h1>  
        </div>
        <div class="row">
            <div>
                <h2>Inside Sales: ( <%= @job.inSalesHard %> - <%= @job.inSalesSoft %> ) years</h2>
                <h2>Outside Sales: ( <%= @job.outSalesHard %> - <%= @job.outSalesSoft %> ) years</h2>
            </div>
        </div>
        <hr size="6" noshade>  
        <div class="row">
            <h1>Sales Skills</h1>  
        </div>
        <div>
            <% selectSkills = {
                    # driversLicence: "Has drivers license",
                    # hasVehicle:"Has vehicle",                   
                    coldCall: "Cold Calling",                  
                    doorToDoor: "Door to door",
                    custService: "Customer Service",                 
                    acctManagment: "Account Management",                 
                    negotiation: "Negotiation",   
                    leadership: "Leadership",    
                    closing: "Closing", 
                    } 

                    filter_skills = selectSkills.select{ |k ,v| @jobSkills.has_key? k}.map {|k, v| v} 
                    %>
            <% filter_skills.each do |skill| %>
                <div class="job_display_skills"><h2><%=skill%></h2></div>
            <% end %>

        </div>
        <hr size="6" noshade>  
        <div class="row">
            <h1>Certifications</h1>  
        </div>
        <div>
        <% if @job.certifications
            @job.certifications.each do |cert|%>
                <div class="job_display_skills"><h2><%=cert%></h2></div>
            <% end %>
        <% end %>
        </div>
        <hr size="6" noshade> 
        <div class="row">
            <h1>Languages</h1>  
        </div>
        <div>
        <% @job.languages.each do |lang| %>
                <div class="job_display_skills"><h2><%=lang%></h2></div>
            <% end %>
        </div>
        <hr size="6" noshade> 
        <div class="row">
            <h1>Driving Requirements</h1>  
        </div>
        <div>
            <% if @job.hasVehicle %>
                <h2>Access to a vehicle</h2> 
            <% end %>
            <% if @job.driversLicence %>
                <h2>Class 5</h2> 
            <% end %>
        </div>
        <hr size="6" noshade> 
    </div>
        <%= button_to "Apply",new_job_application_path(@job), :method => "get", class: "btn btn-default", id: "apply_button_display" %>
</div>
    
   

    