 <% if current_user.role == "Seeker" %>
 <%= link_to "Back to all jobs", seeker_path %><br/>
<% end %>

    <h2><%= @job.title %> 
    <% if current_user.role == "Employer" %>
    (<%= link_to "edit", edit_job_path(@job) %>, <%= link_to "delete", job_path(@job), method: :delete, data: {confirm: "You sure?"} %>)
    <% end %>
    </h2>
    <h3>Job expires: <%= @job.expiry %></h3>
    <p>Job Type: <%= @job.jobType %><p>
    <p>Temp? <%= @job.temp %><p>
    <p>Salary: <%= @job.salary %><p>
    <p>Pay range low: <%= @job.payLow %><p>
    <p>Pay range high: <%= @job.payHigh %><p>
    <p>Required Sales soft: <%= @job.inSalesSoft %><p>
    <p>Required Sales hard: <%= @job.inSalesHard %><p>
    <p>Outside Sales experience (S): <%= @job.outSalesSoft %><p>
    <p>Outside Sales experience (H): <%= @job.outSalesHard %><p>
    <p>Job Summary: <%= @job.summary %></p>
    <p>Functions: <%= @job.functions %><p>
    <p>Skills: <%= @job.skills %><p>
    <p>Competencies: <%= @job.competencies %><p>
    <p>Department size: <%= @job.deptSize %><p>
    <p>Benefits: <%= @job.benefits %><p>

    <p>Created: <%= @job.created_at %><p>
    <p>Updated: <%= @job.updated_at %><p>
    
   

    <%= button_to "Apply",new_job_application_path(@job), :method => "get" %>
  