 <div class="projects-horizontal">
        <div class="container">
            <div class="intro"></div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 33px;">Job Hunters</h2>
                <p class="text-center" style="font-size:24px;    margin: 10px 40px;">customize and control your job hunt. </p>
            </div>

            <div style="align-content:center;display:flex;justify-content:center;">
                <%= link_to("Create Profile", new_user_path(role: 'Seeker'), :class => "btn btn-default", :style => "background-color:rgb(59,56,56);color:#ffffff;margin:0px;width:292px;height:75px;padding:13px;font-size:33px;border-color:#ffffff;text-align:center;align-content:center;box-shadow:5px 5px 5px #888888;justify-content:center;font-weight: bolder;" )%>
            </div>
            <div style="align-content:center;display:flex;justify-content:center;margin-top: 20px;margin-bottom:35px;">
                    <h4>Returning user? <%= link_to "Log In", new_session_path %></h4>
            </div>

             <section class="testimonials"></section>
             <div class="row features">
                <div class="col-md-4 col-sm-6 item"><%= image_tag "HuntLand1.png", class: "icon", style: 'height:55px;width:auto;' %>
                    <h3 class="name">Create your profile in 90 seconds.</h3>
                    <p class="description">simply mark off all relevant qualifications.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><%= image_tag "HuntLand2.png", class: "icon", style: 'height:55px;width:auto;' %>
                    <h3 class="name">View jobs custom to your experience.</h3>
                    <p class="description">get a refined list of jobs that matches your credentials.</p>
              
                </div>
                <div class="col-md-4 col-sm-6 item"><%= image_tag "HuntLand3.png", class: "icon", style: 'height:55px;width:auto;' %>
                    <h3 class="name">Generate your customized list of opportunities.</h3>
                    <p class="description">tweak your results by removing the jobs that don't appeal to you</p>
                </div>
            </div>
        </div>
    </div>