<%= form_for @employer do |f| %>
  <% if @employer.errors.any? %>
    <div>
      <%= pluralize(@employer.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @employer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :compName, "Company name" %><br>
    <%= f.text_field :compName %>
  </div>
  <div>
    <%= f.label :compSize, "Company Size" %><br>
    <%= f.number_field :compSize %>
  </div>
  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :logo, "Logo upload (not ready yet)" %><br>
  </div>
  <div>
    <%= f.label :compDesc, "Company description" %><br>
    <%= f.text_field :compDesc %>
  </div>
  <br>

  <div><%= f.submit "Submit" %></div>
<% end %>