
 
<% if @employer %>
	<% user = User.where(id: @employer.user_id).first %>
<% else %>
	<% user = User.where(id: current_user.id).first %> 
	<% @employer = Employer.where(user_id: user.id).first %>
<% end %>

<div class="dash_header">
	<%= image_tag @employer.logo_url.to_s, class: "dash_header_logo" %>
	<ol class="breadcrumb dash_breadcrumb" id="dash_breadcrumb">
		<li><%= link_to "Current Jobs", employer_path(@employer) %></li>
		<li><%= link_to "Edit Profile", edit_employer_path(@employer) %></li>
		<li class="active"><%= link_to "New Posting", new_job_path %></li>
		<li><%= link_to "Applications", applications_employer_path(@employer) %></li>
    <li><%= link_to "Edit Account", edit_user_path(user) %></li>
	</ol>
	
</div>

<script>
  $( function() {
   
    var url = location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
    var employerID = String(<%= @employer.id %>);

    switch (url) {
      case 'applications':
        activate("Applications");
      break;
      case 'new':
        activate("New Posting");
      break;
      case 'edit':
        activate("Edit Profile");
      break;
      case employerID:
        activate("Current Jobs");
      break;
      default:
        var link = ""
        console.log("breadcrumb deactivated");
    }

    	function activate(link) {
    	$('#dash_breadcrumb li:contains('+link+')').addClass("dash_breadcrumb_active");
        $('#dash_breadcrumb a:contains('+link+')').contents().unwrap();
        console.log(link);
    	}

  });
</script>