 <%= render 'header' %>
 <div class="container-fluid">
  <div>
    <table class="table table-hover">
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Manage</th>
        <th>Views</th>
        <th>Applications</th>
        <th>Post Date</th>
        <th>Expiry</th>
        <th>ID #</th>
      </tr>

       <% @jobs.each do |job|  %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td>
        <td class="active_link"><%= link_to job.status.capitalize,   activate_job_path(job),   :remote => true, data: {confirm: "Are you sure you want to change the status for  #{job.title}?"} %> </td>
        <td>(<%= link_to "edit", edit_job_path(job) %>, <%= link_to "delete", job_path(job), method: :delete, data: {confirm: "Are you sure you want to delete #{job.title}?"} %>)</td>
        <td><%= job.impressionist_count %></td>
        <td><%= job.applications.size %></td>
        <td><%= job.created_at.strftime("%b %d, %Y")  %></td>
        <td><%= job.expiry.strftime("%b %d, %Y") if job.expiry%></td>
        <td><%= rand(1000...1999).to_s + (job.id+100).to_s %></td>
      </tr>
      <% end %>

    </table>
  </div>
</div>

<script>
  $( function() {
    $('.active_link a').each(function() {
      test = $(this);
      if (test.html() == "Active"){
        test.css("color","green");
      } else if (test.html() == "Inactive"){
        test.css("color","red");
      }
    });
  });
</script>