<div class="container-fluid content_dashboard">
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Manage</th>
        <th>Role</th>
        <th>Postal Code</th>
        <th>Sign Up</th>
        <th>Updated</th>
        <th>ID #</th>
      </tr>

       <% @users.each do |user|  %>
      <tr>
        <td><%= user.firstName %> <%= user.lastName %></td>
        <td><%= user.email %></td>
        <td>(<%= link_to "edit", edit_admin_user_path(user) %>, <%= link_to "delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete #{user.firstName}?"} %>)</td>
        <td><%= user.role %></td>
        <% if user.role == "Seeker" 
          seeker = Seeker.where(user_id: user.id).first %>
          <td><%= seeker.postalCode %></td>
        <% else %>
        <td>Error</td>
       <% end %>
        
        <td><%= user.created_at.strftime("%b %d, %Y")  %></td>
        <td><%= user.updated_at.strftime("%b %d, %Y")  %></td>
        <td><%= user.id%></td>
      </tr>
      <% end %>

    </table>
  </div>
</div>