
<h2>Thank you!</h2>
<p>You application was submitted successfully.</p>
<h3>Add a resume</h3>

 <%= form_for ([@job, @application]) do |f| %>
  <% if @application.errors.any? %>
    <div>
      <%= pluralize(@application.errors.count, "error") %> prevented the application from being submitted:
      <ul>
        <% @application.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Select Resume</p>
    <% options = options_from_collection_for_select(@seeker.resumes, 'id', 'title') %>
    <%= f.select :resume,  options %>
  </div>
  <div><%= f.submit "Submit" %></div>

<% end %>

<%= debug params %>

  <%= button_to "Return to jobs",seeker_path(@seeker), :method => "get" %>