<%= render 'seekers/header' %>
<div class="container" style="min-height: calc(100vh - 400px);">
  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <br />
  <%= link_to "Add Resume", new_seeker_resume_path(@seeker), class: "btn btn-primary" %>
  <br />
  <br />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Download Link</th>
          <th>&nbsp;</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @resume.each do |resume| %>
          <tr>
            <td><%= resume.title %></td>
            <td><%= link_to "Download Resume", resume.file_url %></td>
            <td><%= button_to "Delete",  seeker_resume_path(@seeker, resume.id), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.title}?" %></td>
            <% seeker = Seeker.where(id: resume.seeker_id).first %>
            <% user = User.where(id: seeker.user_id).first %>
            <td><%= resume.created_at.strftime("%b %d, %Y") %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <%= button_to "View Jobs",seeker_path(@seeker), :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>
</div>