<h1>Resumes#new</h1>
<p>Find me in app/views/resumes/new.html.erb</p>

  <%= form_for([@seeker, @resume]) do |f| %>
      <% if @resume.errors.any? %>
        <div>
          <%= pluralize(@resume.errors.count, "error") %> prevented the resume from being saved:
          <ul>
            <% @resume.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :title %><br>
        <%= f.text_field "title" %>
      </div>
      <div>
        Upload a Resume....
    	<%= f.file_field :file %>
      </div>
      <div><%= f.submit "Submit" %></div>
    <% end %>