<% if current_user.role == "Seeker" && Seeker.where(user_id: current_user.id).first %>
    <%= render 'seekers/header' %>
<% elsif current_user.role == "Employer" %>
    <%= render 'employers/header' %>
<% end %>
<div class="container">
  <h1>NO RESUME</h1>

 <%= form_for([@seeker, @resume]) do |f| %>
 <% if @resume.errors.any? %>
      <div class="job_display_desc col-md-12">  
        <div class="checkmark">
          <%= image_tag "error.png" %></a>
          <div>
          <%= pluralize(@resume.errors.count, "error") %> prevented the resume from being saved:
          <ul>
            <% @resume.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        </div>
      </div>

<% else %>
    <div class="job_display_desc col-md-12">  
      <div>
      <div class="row job_display_desc_row">
            <div class="job_summary_title_display">
                <h2>Upload your resume:</h2>
            </div>
            <div class="job_summary_display" id="resume_select">
            <div>
              <%= f.label :title, "Title (only visible to you)" %><br>
              <%= f.text_field "title", class: "form-control" %>
            </div>
            <div>
              <%= f.label :file, "Choose your file" %><br>
              <%= f.file_field :file, class: "form-control" %>
            </div>
            <div><%= f.submit "Submit", class: "form-control" %></div>
            </div>  
        </div>
        
      </div>
    </div>
  <% end %>
<% end %>

  <%= button_to "Return to resumes",seeker_resumes_path(@seeker), :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>

</div>