 <% if current_user
               if current_user.role == "Employer" && Employer.where(user_id: current_user.id).first
                employer = Employer.where(user_id: current_user.id).first
                logo_link = employer_path(employer)
              elsif current_user.role == "Seeker" && Seeker.where(user_id: current_user.id).first
                seeker = Seeker.where(user_id: current_user.id).first
                logo_link = seeker_path(seeker)
               end 
            else  
              logo_link = "/"
             end %>


<div class="header_landing_container">
	<div class="header_landing_img_holder">
		<%= link_to (image_tag "aceupco_logo_TRANS.png"), logo_link %>
	</div>



	<div class="header_landing_links">
		 <ul class="horizontal-list">
                  
                  
                  <li id="li_first" ><a href="/pages/about">About</a></li>
                  <li  ><%= link_to "Contact", new_message_path%></li>
                  <li  ><%= link_to "Blog", "https://www.blog.aceup.co" %></li>
                  <% if current_user %>
                    <li ><%= link_to "Log out", session_path("current"), method: :delete %></li>
                  <% end %>
              </ul>
	</div>
	<div class="header_landing_buttons">

	<%= button_to("Log in", '/sessions/new', method: "get",  class: 'header_landing_btn') %>
	<%= button_to("Post Job", '/pages/employer_landing', method: "get", class: 'header_landing_btn', id: "header_landing_post_btn" )%>

	</div>
</div>