<!DOCTYPE html>
<html>
  <head>
    <title>Aceup</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create a profile in 90 seconds or less. Search jobs that are custom to your experience. Filter through high interest jobs."/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
 
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'application'%>
    <% if Rails.env.production? %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-114300457-1', 'auto');
    </script>
        <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1724010174309408'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=1724010174309408&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  <% end %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render 'layouts/header' %>
    <% else %>
      <div id="main_bg">
    <% end %>
      	

        <% flash.each do |type, message| %>
          <div class="alert <%= bootstrap_class_for(type) %> fade in">
            <%= message %>
          </div>
        <% end %>



        <%= yield %>
        <% unless current_page?(root_path) %>
          <%= render 'layouts/footer' %>
        <% end %>
    <% if controller_name == "sessions" %>
      </div>
    <% end %>
  </body>
</html>
